.Panel {
  padding: var($cp--panel-padding-y, $ss--panel-padding-y) var($cp--panel-padding-x, $ss--panel-padding-x);
  border: var($cp--panel-border-width, $ss--panel-border-width) solid
    var($cp--panel-border-color, $ss--panel-border-color);
  border-radius: var($cp--panel-border-radius, $ss--panel-border-radius);
  box-shadow: var($cp--panel-box-shadow, $ss--panel-box-shadow);
  background-color: var($cp--panel-bg, $ss--panel-bg);

  &-header {
    height: var($cp--panel-header-height, $ss--panel-header-height);
    border-bottom: var($cp--panel-header-border-width, $ss--panel-header-border-width) solid
      var($cp--panel-header-border-color, $ss--panel-header-border-color);
    font: {
      size: var($cp--panel-header-font-size, $ss--panel-header-font-size);
      weight: var($cp--panel-header-font-weight, $ss--panel-header-font-weight);
    }
    letter-spacing: var($cp--panel-header-letter-spacing, $ss--panel-header-letter-spacing);
    color: var($cp--panel-header-color, $ss--panel-header-color);
  }

  &-body {
    padding: var($cp--panel-body-padding-y, $ss--panel-body-padding-y)
      var($cp--panel-body-padding-x, $ss--panel-body-padding-x);
  }
}
