$ss--border-width: 1px !default;
$ss--border-color: #dcdfe6 !default;

$ss--border-radius: 4px !default;
$ss--border-radius-lg: 0.3rem !default;
$ss--border-radius-sm: 2px !default;

$ss--rounded-pill: 50rem !default;
