$ss--popup-font-size: var($cp--font-size-base, $ss--font-size-base) !default;
$ss--popup-color: var($cp--text-regular, $ss--text-regular) !default;
$ss--popup-border-width: var($cp--border-width, $ss--border-width) !default;
$ss--popup-border-color: var($cp--border-color, $ss--border-color) !default;
$ss--popup-border-radius: var($cp--border-radius, $ss--border-radius) !default;
$ss--popup-box-shadow: var($cp--box-shadow, $ss--box-shadow) !default;
$ss--popup-padding-y: 10px !default;

$ss--popup-item-height: 30px !default;
$ss--popup-item-padding-y: 0 !default;
$ss--popup-item-padding-x: 12px !default;
$ss--popup-item-color: var($cp--popup-color, $ss--popup-color) !default;
$ss--popup-item-bg: transparent !default;
$ss--popup-item-hover-color: var($cp--popup-item-color, $ss--popup-item-color) !default;
$ss--popup-item-hover-bg: var($cp--hover-bg, $ss--hover-bg) !default;

$ss--popup-backdrop-bg: $ss--black !default;
$ss--popup-backdrop-opacity: 0.5 !default;
