$ss--default-border-color: var($cp--border-color, $ss--border-color) !default;
$ss--default-color: var($cp--text-regular, $ss--text-regular) !default;
$ss--default-bg: $ss--white !default;
$ss--default-bg-image: none !default;

$ss--default-hover-border-color: var($cp--primary-hover, $ss--primary-hover) !default;
$ss--default-hover-color: var($cp--primary-hover, $ss--primary-hover) !default;
$ss--default-hover-bg: var($cp--default-bg, $ss--default-bg) !default;
$ss--default-hover-bg-image: var($cp--default-bg-image, $ss--default-bg-image) !default;

$ss--default-active-border-color: var($cp--primary-active, $ss--primary-active) !default;
$ss--default-active-color: var($cp--primary-active, $ss--primary-active) !default;
$ss--default-active-bg: var($cp--default-bg, $ss--default-bg) !default;
$ss--default-active-bg-image: var($cp--default-bg-image, $ss--default-bg-image) !default;

$ss--default-disabled-border-color: var($cp--default-border-color, $ss--default-border-color) !default;
$ss--default-disabled-color: var($cp--default-color, $ss--default-color) !default;
$ss--default-disabled-bg: var($cp--default-bg, $ss--default-bg) !default;
$ss--default-disabled-bg-image: var($cp--default-bg-image, $ss--default-bg-image) !default;
$ss--default-disabled-opacity: var($cp--disabled-opacity, $ss--disabled-opacity) !default;

$ss--primary-border-color: var($cp--primary, $ss--primary) !default;
$ss--primary-color: $ss--white !default;
$ss--primary-bg: var($cp--primary, $ss--primary) !default;
$ss--primary-bg-image: none !default;

$ss--primary-hover-border-color: var($cp--primary-hover, $ss--primary-hover) !default;
$ss--primary-hover-color: $ss--white !default;
$ss--primary-hover-bg: var($cp--primary-hover, $ss--primary-hover) !default;
$ss--primary-hover-bg-image: var($cp--primary-bg-image, $ss--primary-bg-image) !default;

$ss--primary-active-border-color: var($cp--primary-active, $ss--primary-active) !default;
$ss--primary-active-color: $ss--white !default;
$ss--primary-active-bg: var($cp--primary-active, $ss--primary-active) !default;
$ss--primary-active-bg-image: var($cp--primary-bg-image, $ss--primary-bg-image) !default;

$ss--primary-disabled-border-color: var($cp--primary-border-color, $ss--primary-border-color) !default;
$ss--primary-disabled-color: var($cp--primary-color, $ss--primary-color) !default;
$ss--primary-disabled-bg: var($cp--primary-bg, $ss--primary-bg) !default;
$ss--primary-disabled-bg-image: var($cp--primary-bg-image, $ss--primary-bg-image) !default;
$ss--primary-disabled-opacity: var($cp--disabled-opacity, $ss--disabled-opacity) !default;

$ss--info-border-color: var($cp--info, $ss--info) !default;
$ss--info-color: $ss--white !default;
$ss--info-bg: var($cp--info, $ss--info) !default;
$ss--info-bg-image: none !default;

$ss--info-hover-border-color: var($cp--info-hover, $ss--info-hover) !default;
$ss--info-hover-color: $ss--white !default;
$ss--info-hover-bg: var($cp--info-hover, $ss--info-hover) !default;
$ss--info-hover-bg-image: var($cp--info-bg-image, $ss--info-bg-image) !default;

$ss--info-active-border-color: var($cp--info-active, $ss--info-active) !default;
$ss--info-active-color: $ss--white !default;
$ss--info-active-bg: var($cp--info-active, $ss--info-active) !default;
$ss--info-active-bg-image: var($cp--info-bg-image, $ss--info-bg-image) !default;

$ss--info-disabled-border-color: var($cp--info-border-color, $ss--info-border-color) !default;
$ss--info-disabled-color: var($cp--info-color, $ss--info-color) !default;
$ss--info-disabled-bg: var($cp--info-bg, $ss--info-bg) !default;
$ss--info-disabled-bg-image: var($cp--info-bg-image, $ss--info-bg-image) !default;
$ss--info-disabled-opacity: var($cp--disabled-opacity, $ss--disabled-opacity) !default;

$ss--success-border-color: var($cp--success, $ss--success) !default;
$ss--success-color: $ss--white !default;
$ss--success-bg: var($cp--success, $ss--success) !default;
$ss--success-bg-image: none !default;

$ss--success-hover-border-color: var($cp--success-hover, $ss--success-hover) !default;
$ss--success-hover-color: $ss--white !default;
$ss--success-hover-bg: var($cp--success-hover, $ss--success-hover) !default;
$ss--success-hover-bg-image: var($cp--success-bg-image, $ss--success-bg-image) !default;

$ss--success-active-border-color: var($cp--success-active, $ss--success-active) !default;
$ss--success-active-color: $ss--white !default;
$ss--success-active-bg: var($cp--success-active, $ss--success-active) !default;
$ss--success-active-bg-image: var($cp--success-bg-image, $ss--success-bg-image) !default;

$ss--success-disabled-border-color: var($cp--success-border-color, $ss--success-border-color) !default;
$ss--success-disabled-color: var($cp--success-color, $ss--success-color) !default;
$ss--success-disabled-bg: var($cp--success-bg, $ss--success-bg) !default;
$ss--success-disabled-bg-image: var($cp--success-bg-image, $ss--success-bg-image) !default;
$ss--success-disabled-opacity: var($cp--disabled-opacity, $ss--disabled-opacity) !default;

$ss--warning-border-color: var($cp--warning, $ss--warning) !default;
$ss--warning-color: $ss--white !default;
$ss--warning-bg: var($cp--warning, $ss--warning) !default;
$ss--warning-bg-image: none !default;

$ss--warning-hover-border-color: var($cp--warning-hover, $ss--warning-hover) !default;
$ss--warning-hover-color: $ss--white !default;
$ss--warning-hover-bg: var($cp--warning-hover, $ss--warning-hover) !default;
$ss--warning-hover-bg-image: var($cp--warning-bg-image, $ss--warning-bg-image) !default;

$ss--warning-active-border-color: var($cp--warning-active, $ss--warning-active) !default;
$ss--warning-active-color: $ss--white !default;
$ss--warning-active-bg: var($cp--warning-active, $ss--warning-active) !default;
$ss--warning-active-bg-image: var($cp--warning-bg-image, $ss--warning-bg-image) !default;

$ss--warning-disabled-border-color: var($cp--warning-border-color, $ss--warning-border-color) !default;
$ss--warning-disabled-color: var($cp--warning-color, $ss--warning-color) !default;
$ss--warning-disabled-bg: var($cp--warning-bg, $ss--warning-bg) !default;
$ss--warning-disabled-bg-image: var($cp--warning-bg-image, $ss--warning-bg-image) !default;
$ss--warning-disabled-opacity: var($cp--disabled-opacity, $ss--disabled-opacity) !default;

$ss--danger-border-color: var($cp--danger, $ss--danger) !default;
$ss--danger-color: $ss--white !default;
$ss--danger-bg: var($cp--danger, $ss--danger) !default;
$ss--danger-bg-image: none !default;

$ss--danger-hover-border-color: var($cp--danger-hover, $ss--danger-hover) !default;
$ss--danger-hover-color: $ss--white !default;
$ss--danger-hover-bg: var($cp--danger-hover, $ss--danger-hover) !default;
$ss--danger-hover-bg-image: var($cp--danger-bg-image, $ss--danger-bg-image) !default;

$ss--danger-active-border-color: var($cp--danger-active, $ss--danger-active) !default;
$ss--danger-active-color: $ss--white !default;
$ss--danger-active-bg: var($cp--danger-active, $ss--danger-active) !default;
$ss--danger-active-bg-image: var($cp--danger-bg-image, $ss--danger-bg-image) !default;

$ss--danger-disabled-border-color: var($cp--danger-border-color, $ss--danger-border-color) !default;
$ss--danger-disabled-color: var($cp--danger-color, $ss--danger-color) !default;
$ss--danger-disabled-bg: var($cp--danger-bg, $ss--danger-bg) !default;
$ss--danger-disabled-bg-image: var($cp--danger-bg-image, $ss--danger-bg-image) !default;
$ss--danger-disabled-opacity: var($cp--disabled-opacity, $ss--disabled-opacity) !default;
