$--popover-background-color: $petals--popover-bg;
$--popover-font-size: $petals--popover-font-size;
$--popover-arrow-size: $petals--popover-arrow-height;
$--popover-padding: $petals--popover-body-padding-y $petals--popover-body-padding-x;
$--popover-title-font-color: $petals--popover-header-color;
