$--color-primary: $ss--primary;
$--color-white: $ss--white;
$--color-black: $ss--black;
$--color-success: $ss--success;
$--color-warning: $ss--warning;
$--color-danger: $ss--danger;
$--color-info: $ss--info;
$--color-text-primary: $ss--text-primary;
$--color-text-regular: $ss--text-regular;
$--color-text-secondary: $ss--text-secondary;
$--color-text-placeholder: $ss--text-placeholder;

$--border-color-base: $ss--border-color;
$--border-width-base: $ss--border-width;
$--border-radius-base: $ss--border-radius;
$--border-radius-small: $ss--border-radius-sm;

$--background-color-base: #edf5ff;

$--link-color: $ss--link-color;
$--link-hover-color: $ss--link-hover-color;

$--box-shadow-base: $ss--box-shadow;

$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--font-size-base: $ss--font-size-base;
$--font-size-large: $ss--font-size-lg;
$--font-size-small: $ss--font-size-sm;
