$--button-font-size: $ss--button-font-size;
$--button-font-weight: $ss--button-font-weight;
$--button-padding-vertical: $ss--button-padding-y-lg;
$--button-padding-horizontal: $ss--button-padding-x-lg;

$--button-medium-font-size: $ss--button-font-size;
$--button-medium-padding-vertical: $ss--button-padding-y;
$--button-medium-padding-horizontal: $ss--button-padding-x;

$--button-small-font-size: $ss--button-font-size-sm;
$--button-small-padding-vertical: $ss--button-padding-y-sm;
$--button-small-padding-horizontal: $ss--button-padding-x-sm;

// 按钮组件尺寸只有「大」、「普通」、「小」三个等级
// Element 中的多余的尺寸都按照「普通」处理
$--button-mini-font-size: $--button-medium-font-size;
$--button-mini-padding-vertical: $--button-medium-padding-vertical;
$--button-mini-padding-horizontal: $--button-medium-padding-horizontal;

$--button-default-font-color: $ss--button-color;
$--button-default-border-color: $ss--button-border-color;
$--button-default-background-color: $ss--button-bg;

$--button-disabled-font-color: $ss--button-disabled-color;
$--button-disabled-border-color: $ss--button-disabled-border-color;
$--button-disabled-background-color: $ss--button-disabled-bg;

$--button-primary-font-color: $ss--button-primary-color;
$--button-primary-border-color: $ss--button-primary-border-color;
$--button-primary-background-color: $ss--button-primary-bg;

$--button-success-font-color: $ss--button-success-color;
$--button-success-border-color: $ss--button-success-border-color;
$--button-success-background-color: $ss--button-success-bg;

$--button-warning-font-color: $ss--button-warning-color;
$--button-warning-border-color: $ss--button-warning-border-color;
$--button-warning-background-color: $ss--button-warning-bg;

$--button-danger-font-color: $ss--button-danger-color;
$--button-danger-border-color: $ss--button-danger-border-color;
$--button-danger-background-color: $ss--button-danger-bg;

$--button-info-font-color: $ss--button-info-color;
$--button-info-border-color: $ss--button-info-border-color;
$--button-info-background-color: $ss--button-info-bg;
