$--dialog-background-color: $ss--dialog-content-bg;
$--dialog-box-shadow: $ss--dialog-content-box-shadow-xs;
$--dialog-font-line-height: $ss--dialog-title-line-height;
$--dialog-padding-primary: $ss--dialog-inner-padding;
