$--input-font-size: $ss--input-font-size;
$--input-font-color: $ss--input-color;
$--input-height: $ss--input-height-lg;
$--input-border: $ss--input-border-width solid $ss--input-border-color;
$--input-border-color: $ss--input-border-color;
$--input-border-radius: $ss--input-border-radius;
$--input-background-color: $ss--input-bg;
$--input-placeholder-color: $ss--input-placeholder-color;
$--input-focus-border: $ss--input-focus-border-color;
$--input-disabled-fill: $ss--input-disabled-bg;
$--input-disabled-border: $ss--input-disabled-border-color;

$--input-medium-font-size: $ss--input-font-size;
$--input-medium-height: $ss--input-height;
$--input-small-font-size: $ss--input-font-size-sm;
$--input-small-height: $ss--input-height-sm;
$--input-mini-font-size: $--input-medium-font-size;
$--input-mini-height: $--input-medium-height;
