$--pagination-background-color: $ss--pagination-bg;
$--pagination-font-color: $ss--pagination-color;
$--pagination-border-radius: $ss--pagination-border-radius;
$--pagination-hover-color: $ss--pagination-hover-color;
