$--popover-background-color: $ss--popover-bg;
$--popover-font-size: $ss--popover-font-size;
$--popover-arrow-size: $ss--popover-arrow-height;
$--popover-padding: $ss--popover-body-padding-y $ss--popover-body-padding-x;
$--popover-title-font-color: $ss--popover-header-color;
