$--select-disabled-border: $ss--select-disabled-border-color;
$--select-font-size: $ss--select-font-size;
$--select-input-color: $ss--select-color;
$--select-input-focus-border-color: $ss--select-focus-border-color;
$--select-input-font-size: $ss--input-font-size;
$--select-option-color: $ss--select-option-color;
$--select-option-height: $ss--select-option-height;
$--select-option-hover-background: $ss--select-option-hover-bg;

$--select-dropdown-padding: 5px 0;
$--select-dropdown-shadow: $ss--select-dropdown-box-shadow;
