$--table-border-color: $ss--border-color;
$--table-border: $ss--table-border-width solid $--table-border-color;
$--table-font-color: $ss--table-color;
$--table-header-font-color: $ss--table-head-color;
$--table-row-hover-background-color: $ss--table-hover-bg;
$--table-header-background-color: $ss--table-head-bg;
