$--tooltip-fill: $ss--tooltip-bg;
$--tooltip-color: $ss--tooltip-color;
$--tooltip-font-size: $ss--tooltip-font-size;
$--tooltip-arrow-size: $ss--tooltip-arrow-height;
$--tooltip-padding: $ss--tooltip-padding-y $ss--tooltip-padding-x;
