$cp--text-primary: --ss-text-primary;
$cp--text-secondary: --ss-text-secondary;
$cp--text-regular: --ss-text-regular;
$cp--text-heading: --ss-text-heading;
$cp--text-placeholder: --ss-text-placeholder;
