$cp--primary: --ss-primary;
$cp--primary-hover: --ss-primary-hover;
$cp--primary-active: --ss-primary-active;

$cp--secondary: --ss-secondary;
$cp--secondary-hover: --ss-secondary-hover;
$cp--secondary-active: --ss-secondary-active;

$cp--info: --ss-info;
$cp--info-hover: --ss-info-hover;
$cp--info-active: --ss-info-active;

$cp--success: --ss-success;
$cp--success-hover: --ss-success-hover;
$cp--success-active: --ss-success-active;

$cp--warning: --ss-warning;
$cp--warning-hover: --ss-warning-hover;
$cp--warning-active: --ss-warning-active;

$cp--danger: --ss-danger;
$cp--danger-hover: --ss-danger-hover;
$cp--danger-active: --ss-danger-active;
