$__layout-container-component-name: 'LayoutContainer' !default;
$__layout-header-component-name: 'LayoutHeader' !default;
$__layout-footer-component-name: 'LayoutFooter' !default;
$__layout-content-component-name: 'LayoutContent' !default;
$__layout-sidebar-component-name: 'LayoutSidebar' !default;
