.el-select {
  &:hover {
    .el-input {
      &__inner {
        border-color: var($__petals--input-hover-border-color, $petals--input-hover-border-color);
      }
    }
  }

  &-dropdown {
    padding: var($__petals--select-dropdown-padding-y, $petals--select-dropdown-padding-y) 0;
    border-radius: var($__petals--select-dropdown-border-radius, $petals--select-dropdown-border-radius);
    box-shadow: var($__petals--select-dropdown-box-shadow, $petals--select-dropdown-box-shadow);

    &__list {
      padding: 0;
    }

    &__item {
      height: var($__petals--select-option-height, $petals--select-option-height);
      padding: var($__petals--select-option-padding-y, $petals--select-option-padding-y)
        var($__petals--select-option-padding-x, $petals--select-option-padding-x);
      font-size: var($__petals--select-font-size, $petals--select-font-size);
      line-height: var($__petals--select-option-height, $petals--select-option-height);
      color: var($__petals--select-option-color, $petals--select-option-color);

      &.selected {
        color: var($__petals--primary, $petals--primary);
      }

      &.hover,
      &:hover {
        background-color: var($__petals--select-option-hover-bg, $petals--select-option-hover-bg);
      }
    }

    &.is-multiple {
      .el-select-dropdown__item.selected {
        color: var($__petals--primary, $petals--primary);
      }
    }
  }

  .el-icon-arrow-up:before {
    content: '\e78f';
  }

  .el-input {
    &.is-focus .el-input__inner,
    &__inner:focus {
      border-color: var($__petals--input-focus-border-color, $petals--input-focus-border-color);
    }
  }
}
