$--select-disabled-border: $petals--select-disabled-border-color;
$--select-font-size: $petals--select-font-size;
$--select-input-color: $petals--select-color;
$--select-input-focus-border-color: $petals--select-focus-border-color;
$--select-input-font-size: $petals--input-font-size;
$--select-option-color: $petals--select-option-color;
$--select-option-height: $petals--select-option-height;
$--select-option-hover-background: $petals--select-option-hover-bg;

$--select-dropdown-padding: 5px 0;
$--select-dropdown-shadow: $petals--select-dropdown-box-shadow;
