.el-link {
  font-size: inherit;

  &.el-link--default,
  &.el-link--primary {
    &:hover {
      color: var($__petals--primary-hover, $petals--primary-hover);
    }

    &:focus,
    &:active {
      color: var($__petals--primary-active, $petals--primary-active);
    }
  }

  &.el-link--primary {
    color: var($__petals--primary, $petals--primary);
  }
}
