.el-button {
  padding: var($__petals--button-padding-y-lg, $petals--button-padding-y-lg)
    var($__petals--button-padding-x-lg, $petals--button-padding-x-lg);
  font-size: var($__petals--button-font-size-lg, $petals--button-font-size-lg);
  border-radius: var($__petals--button-border-radius-lg, $petals--button-border-radius-lg);

  &--medium,
  &--mini {
    padding: var($__petals--button-padding-y, $petals--button-padding-y) var($__petals--button-padding-x, $petals--button-padding-x);
    font-size: var($__petals--button-font-size, $petals--button-font-size);
    border-radius: var($__petals--button-border-radius, $petals--button-border-radius);
  }

  &--small {
    padding: var($__petals--button-padding-y-sm, $petals--button-padding-y-sm)
      var($__petals--button-padding-x-sm, $petals--button-padding-x-sm);
    font-size: var($__petals--button-font-size-sm, $petals--button-font-size-sm);
    border-radius: var($__petals--button-border-radius-sm, $petals--button-border-radius-sm);
  }

  &--text {
    color: var($__petals--primary, $petals--primary);

    &:focus,
    &:hover {
      color: var($__petals--primary-hover, $petals--primary-hover);
    }

    &:active,
    &.is-active {
      color: var($__petals--primary-active, $petals--primary-active);
    }
  }

  &:not(&--text) {
    min-width: var($__petals--button-min-width, $petals--button-min-width);
    max-width: var($__petals--button-max-width, $petals--button-max-width);
    color: var($__petals--button-color, $petals--button-color);
    border-color: var($__petals--button-border-color, $petals--button-border-color);
    background: {
      color: var($__petals--button-bg, $petals--button-bg);
      image: var($__petals--button-bg-image, $petals--button-bg-image);
    }
    @include ellipsis(true);

    &:focus,
    &:hover {
      color: var($__petals--button-hover-color, $petals--button-hover-color);
      border-color: var($__petals--button-hover-border-color, $petals--button-hover-border-color);
      background-color: var($__petals--button-hover-bg, $petals--button-hover-bg);
    }

    &:active {
      color: var($__petals--button-focus-color, $petals--button-focus-color);
      border-color: var($__petals--button-focus-border-color, $petals--button-focus-border-color);
      background: {
        color: var($__petals--button-focus-bg, $petals--button-focus-bg);
        image: var($__petals--button-focus-bg-image, $petals--button-focus-bg-image);
      }
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var($__petals--button-disabled-color, $petals--button-disabled-color);
        border-color: var($__petals--button-disabled-border-color, $petals--button-disabled-border-color);
        background: {
          color: var($__petals--button-disabled-bg, $petals--button-disabled-bg);
          image: var($__petals--button-disabled-bg-image, $petals--button-disabled-bg-image);
        }
        opacity: var($__petals--button-disabled-opacity, $petals--button-disabled-opacity);
      }
    }
  }

  &--info:not(&--text) {
    color: var($__petals--button-info-color, $petals--button-info-color);
    border-color: var($__petals--button-info-border-color, $petals--button-info-border-color);
    background: {
      color: var($__petals--button-info-bg, $petals--button-info-bg);
      image: var($__petals--button-info-bg-image, $petals--button-info-bg-image);
    }
    box-shadow: var($__petals--button-info-box-shadow, $petals--button-info-box-shadow);

    &:focus,
    &:hover {
      color: var($__petals--button-info-hover-color, $petals--button-info-hover-color);
      border-color: var($__petals--button-info-hover-border-color, $petals--button-info-hover-border-color);
      background: {
        color: var($__petals--button-info-hover-bg, $petals--button-info-hover-bg);
        image: var($__petals--button-info-hover-bg-image, $petals--button-info-hover-bg-image);
      }
    }

    &:active,
    &.is-active {
      color: var($__petals--button-info-focus-color, $petals--button-info-focus-color);
      border-color: var($__petals--button-info-focus-border-color, $petals--button-info-focus-border-color);
      background: {
        color: var($__petals--button-info-focus-bg, $petals--button-info-focus-bg);
        image: var($__petals--button-info-focus-bg-image, $petals--button-info-focus-bg-image);
      }
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var($__petals--button-info-disabled-color, $petals--button-info-disabled-color);
        border-color: var($__petals--button-info-disabled-border-color, $petals--button-info-disabled-border-color);
        background: {
          color: var($__petals--button-info-disabled-bg, $petals--button-info-disabled-bg);
          image: var($__petals--button-info-disabled-bg-image, $petals--button-info-disabled-bg-image);
        }
        opacity: var($__petals--button-info-disabled-opacity, $petals--button-info-disabled-opacity);
      }
    }
  }

  &--primary:not(&--text) {
    color: var($__petals--button-primary-color, $petals--button-primary-color);
    border-color: var($__petals--button-primary-border-color, $petals--button-primary-border-color);
    background: {
      color: var($__petals--button-primary-bg, $petals--button-primary-bg);
      image: var($__petals--button-primary-bg-image, $petals--button-primary-bg-image);
    }
    box-shadow: var($__petals--button-primary-box-shadow, $petals--button-primary-box-shadow);

    &:focus,
    &:hover {
      color: var($__petals--button-primary-hover-color, $petals--button-primary-hover-color);
      border-color: var($__petals--button-primary-hover-border-color, $petals--button-primary-hover-border-color);
      background: {
        color: var($__petals--button-primary-hover-bg, $petals--button-primary-hover-bg);
        image: var($__petals--button-primary-hover-bg-image, $petals--button-primary-hover-bg-image);
      }
    }

    &:active,
    &.is-active {
      color: var($__petals--button-primary-focus-color, $petals--button-primary-focus-color);
      border-color: var($__petals--button-primary-focus-border-color, $petals--button-primary-focus-border-color);
      background: {
        color: var($__petals--button-primary-focus-bg, $petals--button-primary-focus-bg);
        image: var($__petals--button-primary-focus-bg-image, $petals--button-primary-focus-bg-image);
      }
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var($__petals--button-primary-disabled-color, $petals--button-primary-disabled-color);
        border-color: var($__petals--button-primary-disabled-border-color, $petals--button-primary-disabled-border-color);
        background: {
          color: var($__petals--button-primary-disabled-bg, $petals--button-primary-disabled-bg);
          image: var($__petals--button-primary-disabled-bg-image, $petals--button-primary-disabled-bg-image);
        }
        opacity: var($__petals--button-primary-disabled-opacity, $petals--button-primary-disabled-opacity);
      }
    }
  }

  &--success:not(&--text) {
    color: var($__petals--button-success-color, $petals--button-success-color);
    border-color: var($__petals--button-success-border-color, $petals--button-success-border-color);
    background: {
      color: var($__petals--button-success-bg, $petals--button-success-bg);
      image: var($__petals--button-success-bg-image, $petals--button-success-bg-image);
    }
    box-shadow: var($__petals--button-success-box-shadow, $petals--button-success-box-shadow);

    &:focus,
    &:hover {
      color: var($__petals--button-success-hover-color, $petals--button-success-hover-color);
      border-color: var($__petals--button-success-hover-border-color, $petals--button-success-hover-border-color);
      background: {
        color: var($__petals--button-success-hover-bg, $petals--button-success-hover-bg);
        image: var($__petals--button-success-hover-bg-image, $petals--button-success-hover-bg-image);
      }
    }

    &:active,
    &.is-active {
      color: var($__petals--button-success-focus-color, $petals--button-success-focus-color);
      border-color: var($__petals--button-success-focus-border-color, $petals--button-success-focus-border-color);
      background: {
        color: var($__petals--button-success-focus-bg, $petals--button-success-focus-bg);
        image: var($__petals--button-success-focus-bg-image, $petals--button-success-focus-bg-image);
      }
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var($__petals--button-success-disabled-color, $petals--button-success-disabled-color);
        border-color: var($__petals--button-success-disabled-border-color, $petals--button-success-disabled-border-color);
        background: {
          color: var($__petals--button-success-disabled-bg, $petals--button-success-disabled-bg);
          image: var($__petals--button-success-disabled-bg-image, $petals--button-success-disabled-bg-image);
        }
        opacity: var($__petals--button-success-disabled-opacity, $petals--button-success-disabled-opacity);
      }
    }
  }

  &--warning:not(&--text) {
    color: var($__petals--button-warning-color, $petals--button-warning-color);
    border-color: var($__petals--button-warning-border-color, $petals--button-warning-border-color);
    background: {
      color: var($__petals--button-warning-bg, $petals--button-warning-bg);
      image: var($__petals--button-warning-bg-image, $petals--button-warning-bg-image);
    }
    box-shadow: var($__petals--button-warning-box-shadow, $petals--button-warning-box-shadow);

    &:focus,
    &:hover {
      color: var($__petals--button-warning-hover-color, $petals--button-warning-hover-color);
      border-color: var($__petals--button-warning-hover-border-color, $petals--button-warning-hover-border-color);
      background: {
        color: var($__petals--button-warning-hover-bg, $petals--button-warning-hover-bg);
        image: var($__petals--button-warning-hover-bg-image, $petals--button-warning-hover-bg-image);
      }
    }

    &:active,
    &.is-active {
      color: var($__petals--button-warning-focus-color, $petals--button-warning-focus-color);
      border-color: var($__petals--button-warning-focus-border-color, $petals--button-warning-focus-border-color);
      background: {
        color: var($__petals--button-warning-focus-bg, $petals--button-warning-focus-bg);
        image: var($__petals--button-warning-focus-bg-image, $petals--button-warning-focus-bg-image);
      }
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var($__petals--button-warning-disabled-color, $petals--button-warning-disabled-color);
        border-color: var($__petals--button-warning-disabled-border-color, $petals--button-warning-disabled-border-color);
        background: {
          color: var($__petals--button-warning-disabled-bg, $petals--button-warning-disabled-bg);
          image: var($__petals--button-warning-disabled-bg-image, $petals--button-warning-disabled-bg-image);
        }
        opacity: var($__petals--button-warning-disabled-opacity, $petals--button-warning-disabled-opacity);
      }
    }
  }

  &--danger:not(&--text) {
    color: var($__petals--button-danger-color, $petals--button-danger-color);
    border-color: var($__petals--button-danger-border-color, $petals--button-danger-border-color);
    background: {
      color: var($__petals--button-danger-bg, $petals--button-danger-bg);
      image: var($__petals--button-danger-bg-image, $petals--button-danger-bg-image);
    }

    &:focus,
    &:hover {
      color: var($__petals--button-danger-hover-color, $petals--button-danger-hover-color);
      border-color: var($__petals--button-danger-hover-border-color, $petals--button-danger-hover-border-color);
      background: {
        color: var($__petals--button-danger-hover-bg, $petals--button-danger-hover-bg);
        image: var($__petals--button-danger-hover-bg-image, $petals--button-danger-hover-bg-image);
      }
    }

    &:active,
    &.is-active {
      color: var($__petals--button-danger-focus-color, $petals--button-danger-focus-color);
      border-color: var($__petals--button-danger-focus-border-color, $petals--button-danger-focus-border-color);
      background: {
        color: var($__petals--button-danger-focus-bg, $petals--button-danger-focus-bg);
        image: var($__petals--button-danger-focus-bg-image, $petals--button-danger-focus-bg-image);
      }
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: var($__petals--button-danger-disabled-color, $petals--button-danger-disabled-color);
        border-color: var($__petals--button-danger-disabled-border-color, $petals--button-danger-disabled-border-color);
        background: {
          color: var($__petals--button-danger-disabled-bg, $petals--button-danger-disabled-bg);
          image: var($__petals--button-danger-disabled-bg-image, $petals--button-danger-disabled-bg-image);
        }
        opacity: var($__petals--button-danger-disabled-opacity, $petals--button-danger-disabled-opacity);
      }
    }
  }

  + .el-button {
    margin-left: var($__petals--button-between-gap, $petals--button-between-gap);
  }
}
