.GridRow {
  &:not(&--flex) {
    @include pie-clearfix;
  }

  &--flex {
    display: flex;
  }
}

@mixin generate-column-rules($n) {
  display: block;
  float: left;
  width: percentage($n / 24);
  flex: 0 0 percentage($n / 24);
}

@mixin generate-columns($size: '') {
  @if $size == '' {
    &--hidden,
    &--xs-hidden {
      display: none;
    }
  } @else {
    &--#{$size}-hidden {
      display: none;
    }
  }

  @for $i from 1 through 24 {
    @if $size == '' {
      &--#{$i},
      &--xs-#{$i} {
        @include generate-column-rules($i);
      }

      &--offset-#{$i} {
        margin-left: percentage($i / 24);
      }
    } @else {
      &--#{$size}-#{$i} {
        @include generate-column-rules($i);
      }
    }
  }
}

.GridCol {
  @include generate-columns();

  $points: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
  );

  @each $pt, $px in $points {
    @media (min-width: $px) {
      @include generate-columns($pt);
    }
  }
}

.GridRow--flex {
  flex-flow: row nowrap;

  .GridCol {
    flex: 0 0 auto;
  }
}
