.el-checkbox {
  &__inner {
    border: var($__petals--checkbox-border-width, $petals--checkbox-border-width) solid
      var($__petals--checkbox-border-color, $petals--checkbox-border-color);
    border-radius: var($__petals--checkbox-border-radius, $petals--checkbox-border-radius);

    &:after {
      border-color: var($__petals--checkbox-icon-checked-color, $petals--checkbox-icon-checked-color);
    }

    &:hover {
      border-color: var($__petals--checkbox-hover-border-color, $petals--checkbox-hover-border-color);
    }
  }

  &__input {
    &.is-checked,
    &.is-indeterminate,
    &.is-focus {
      .el-checkbox__inner {
        border-color: var($__petals--checkbox-checked-border-color, $petals--checkbox-checked-border-color);
      }
    }

    &.is-checked,
    &.is-indeterminate {
      .el-checkbox__inner {
        background-color: var($__petals--checkbox-checked-bg, $petals--checkbox-checked-bg);
      }
    }

    &.is-disabled {
      &,
      &.is-checked,
      &.is-indeterminate {
        .el-checkbox__inner {
          background-color: var($__petals--checkbox-disabled-bg, $petals--checkbox-disabled-bg);
          border-color: var($__petals--checkbox-disabled-border-color, $petals--checkbox-disabled-border-color);

          &:after {
            border-color: var($__petals--checkbox-icon-disabled-color, $petals--checkbox-icon-disabled-color);
          }
        }
      }
    }
  }
}
