$ss--font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, 'Pingfang SC', 'Microsoft Yahei', Sans-serif !default;
$ss--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$ss--font-family-base: $ss--font-family-sans-serif !default;

// $ss--font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $ss--font-size-base effects the font size of the body text
$ss--font-size-root: null !default;
$ss--font-size-base: 14px !default;
$ss--font-size-lg: 16px !default;
$ss--font-size-sm: 12px !default;

$ss--font-weight-lighter: lighter !default;
$ss--font-weight-light: 300 !default;
$ss--font-weight-normal: 400 !default;
$ss--font-weight-bold: 700 !default;
$ss--font-weight-bolder: bolder !default;

$ss--font-weight-base: $ss--font-weight-normal !default;

$ss--line-height-base: 1.5 !default;
$ss--line-height-lg: 2 !default;
$ss--line-height-sm: 1.25 !default;

$ss--h1-font-size: $ss--font-size-base * 2.5 !default;
$ss--h2-font-size: $ss--font-size-base * 2 !default;
$ss--h3-font-size: $ss--font-size-base * 1.75 !default;
$ss--h4-font-size: $ss--font-size-base * 1.5 !default;
$ss--h5-font-size: $ss--font-size-base * 1.25 !default;
$ss--h6-font-size: $ss--font-size-base !default;

$ss--headings-margin-bottom: $ss--spacer / 2 !default;
$ss--headings-font-family: null !default;
$ss--headings-font-style: null !default;
$ss--headings-font-weight: 500 !default;
$ss--headings-line-height: 1.2 !default;
$ss--headings-color: null !default;
