$ss--primary: #3882f5 !default;
$ss--primary-hover: var($cp--primary, $ss--primary) !default;
$ss--primary-active: var($cp--primary, $ss--primary) !default;

// $ss--secondary: $ss--gray-600 !default;

$ss--info: #909399 !default;
$ss--info-hover: var($cp--info, $ss--info) !default;
$ss--info-active: var($cp--info, $ss--info) !default;

$ss--success: #67c23a !default;
$ss--success-hover: var($cp--success, $ss--success) !default;
$ss--success-active: var($cp--success, $ss--success) !default;

$ss--warning: #e6a23c !default;
$ss--warning-hover: var($cp--warning, $ss--warning) !default;
$ss--warning-active: var($cp--warning, $ss--warning) !default;

$ss--danger: #f56c6c !default;
$ss--danger-hover: var($cp--danger, $ss--danger) !default;
$ss--danger-active: var($cp--danger, $ss--danger) !default;
