$cp--border-width: --ss-border-width;
$cp--border-color: --ss-border-color;

$cp--border-radius: --ss-border-radius;
$cp--border-radius-lg: --ss-border-radius-lg;
$cp--border-radius-sm: --ss-border-radius-sm;
