$cp--form-control-height: --ss-form-control-height !default;
$cp--form-control-height-lg: --ss-form-control-height-lg !default;
$cp--form-control-height-sm: --ss-form-control-height-sm !default;

$cp--form-control-font-size: --ss-form-control-font-size;
$cp--form-control-font-size-lg: --ss-form-control-font-size-lg;
$cp--form-control-font-size-sm: --ss-form-control-font-size-sm;
$cp--form-control-color: --ss-form-control-color;
$cp--form-control-bg: --ss-form-control-bg;
$cp--form-control-box-shadow: --ss-form-control-box-shadow;

$cp--form-control-placeholder-color: --ss-form-control-placeholder-color;

$cp--form-control-border-width: --ss-form-control-border-width;
$cp--form-control-border-color: --ss-form-control-border-color;
$cp--form-control-border-radius: --ss-form-control-border-radius;
$cp--form-control-border-radius-lg: --ss-form-control-border-radius-lg;
$cp--form-control-border-radius-sm: --ss-form-control-border-radius-sm;

$cp--form-control-disabled-border-color: --ss-form-control-disabled-border-color;
$cp--form-control-disabled-bg: --ss-form-control-disabled-bg;

$cp--form-control-hover-border-color: --ss-form-control-hover-border-color;

$cp--form-control-focus-border-color: --ss-form-control-focus-border-color;
$cp--form-control-focus-bg: --ss-form-control-focus-bg;
$cp--form-control-focus-box-shadow: --ss-form-control-focus-box-shadow;
