$cp--popup-font-size: --ss-popup-font-size;
$cp--popup-color: --ss-popup-color;
$cp--popup-border-width: --ss-popup-border-width;
$cp--popup-border-color: --ss-popup-border-color;
$cp--popup-border-radius: --ss-popup-border-radius;
$cp--popup-box-shadow: --ss-popup-box-shadow;
$cp--popup-padding-y: --ss-popup-padding-y;

$cp--popup-item-height: --ss-popup-item-height;
$cp--popup-item-padding-y: --ss-popup-item-padding-y;
$cp--popup-item-padding-x: --ss-popup-item-padding-x;
$cp--popup-item-color: --ss-popup-item-color;
$cp--popup-item-bg: --ss-popup-item-bg;
$cp--popup-item-hover-color: --ss-popup-item-hover-color;
$cp--popup-item-hover-bg: --ss-popup-item-hover-bg;

$cp--popup-backdrop-bg: --ss-popup-backdrop-bg;
$cp--popup-backdrop-opacity: --ss-popup-backdrop-opacity;
