$cp--hover-bg: --ss-hover-bg;

$cp--active-border-color: --ss-active-border-color;
$cp--active-color: --ss-active-color;
$cp--active-bg: --ss-active-bg;

$cp--disabled-border-color: --ss-disabled-border-color;
$cp--disabled-color: --ss-disabled-color;
$cp--disabled-bg: --ss-disabled-bg;
$cp--disabled-opacity: --ss-disabled-opacity;
