$cp--default-border-color: --ss-default-border-color;
$cp--default-color: --ss-default-color;
$cp--default-bg: --ss-default-bg;
$cp--default-bg-image: --ss-default-bg-image;

$cp--default-hover-border-color: --ss-default-hover-border-color;
$cp--default-hover-color: --ss-default-hover-color;
$cp--default-hover-bg: --ss-default-hover-bg;
$cp--default-hover-bg-image: --ss-default-hover-bg-image;

$cp--default-active-border-color: --ss-default-active-border-color;
$cp--default-active-color: --ss-default-active-color;
$cp--default-active-bg: --ss-default-active-bg;
$cp--default-active-bg-image: --ss-default-active-bg-image;

$cp--default-disabled-border-color: --ss-default-disabled-border-color;
$cp--default-disabled-color: --ss-default-disabled-color;
$cp--default-disabled-bg: --ss-default-disabled-bg;
$cp--default-disabled-bg-image: --ss-default-disabled-bg-image;
$cp--default-disabled-opacity: --ss-default-disabled-opacity;

$cp--primary-border-color: --ss-primary-border-color;
$cp--primary-color: --ss-primary-color;
$cp--primary-bg: --ss-primary-bg;
$cp--primary-bg-image: --ss-primary-bg-image;

$cp--primary-hover-border-color: --ss-primary-hover-border-color;
$cp--primary-hover-color: --ss-primary-hover-color;
$cp--primary-hover-bg: --ss-primary-hover-bg;
$cp--primary-hover-bg-image: --ss-primary-hover-bg-image;

$cp--primary-active-border-color: --ss-primary-active-border-color;
$cp--primary-active-color: --ss-primary-active-color;
$cp--primary-active-bg: --ss-primary-active-bg;
$cp--primary-active-bg-image: --ss-primary-active-bg-image;

$cp--primary-disabled-border-color: --ss-primary-disabled-border-color;
$cp--primary-disabled-color: --ss-primary-disabled-color;
$cp--primary-disabled-bg: --ss-primary-disabled-bg;
$cp--primary-disabled-bg-image: --ss-primary-disabled-bg-image;
$cp--primary-disabled-opacity: --ss-primary-disabled-opacity;

$cp--info-border-color: --ss-info-border-color;
$cp--info-color: --ss-info-color;
$cp--info-bg: --ss-info-bg;
$cp--info-bg-image: --ss-info-bg-image;

$cp--info-hover-border-color: --ss-info-hover-border-color;
$cp--info-hover-color: --ss-info-hover-color;
$cp--info-hover-bg: --ss-info-hover-bg;
$cp--info-hover-bg-image: --ss-info-hover-bg-image;

$cp--info-active-border-color: --ss-info-active-border-color;
$cp--info-active-color: --ss-info-active-color;
$cp--info-active-bg: --ss-info-active-bg;
$cp--info-active-bg-image: --ss-info-active-bg-image;

$cp--info-disabled-border-color: --ss-info-disabled-border-color;
$cp--info-disabled-color: --ss-info-disabled-color;
$cp--info-disabled-bg: --ss-info-disabled-bg;
$cp--info-disabled-bg-image: --ss-info-disabled-bg-image;
$cp--info-disabled-opacity: --ss-info-disabled-opacity;

$cp--success-border-color: --ss-success-border-color;
$cp--success-color: --ss-success-color;
$cp--success-bg: --ss-success-bg;
$cp--success-bg-image: --ss-success-bg-image;

$cp--success-hover-border-color: --ss-success-hover-border-color;
$cp--success-hover-color: --ss-success-hover-color;
$cp--success-hover-bg: --ss-success-hover-bg;
$cp--success-hover-bg-image: --ss-success-hover-bg-image;

$cp--success-active-border-color: --ss-success-active-border-color;
$cp--success-active-color: --ss-success-active-color;
$cp--success-active-bg: --ss-success-active-bg;
$cp--success-active-bg-image: --ss-success-active-bg-image;

$cp--success-disabled-border-color: --ss-success-disabled-border-color;
$cp--success-disabled-color: --ss-success-disabled-color;
$cp--success-disabled-bg: --ss-success-disabled-bg;
$cp--success-disabled-bg-image: --ss-success-disabled-bg-image;
$cp--success-disabled-opacity: --ss-success-disabled-opacity;

$cp--warning-border-color: --ss-warning-border-color;
$cp--warning-color: --ss-warning-color;
$cp--warning-bg: --ss-warning-bg;
$cp--warning-bg-image: --ss-warning-bg-image;

$cp--warning-hover-border-color: --ss-warning-hover-border-color;
$cp--warning-hover-color: --ss-warning-hover-color;
$cp--warning-hover-bg: --ss-warning-hover-bg;
$cp--warning-hover-bg-image: --ss-warning-hover-bg-image;

$cp--warning-active-border-color: --ss-warning-active-border-color;
$cp--warning-active-color: --ss-warning-active-color;
$cp--warning-active-bg: --ss-warning-active-bg;
$cp--warning-active-bg-image: --ss-warning-active-bg-image;

$cp--warning-disabled-border-color: --ss-warning-disabled-border-color;
$cp--warning-disabled-color: --ss-warning-disabled-color;
$cp--warning-disabled-bg: --ss-warning-disabled-bg;
$cp--warning-disabled-bg-image: --ss-warning-disabled-bg-image;
$cp--warning-disabled-opacity: --ss-warning-disabled-opacity;

$cp--danger-border-color: --ss-danger-border-color;
$cp--danger-color: --ss-danger-color;
$cp--danger-bg: --ss-danger-bg;
$cp--danger-bg-image: --ss-danger-bg-image;

$cp--danger-hover-border-color: --ss-danger-hover-border-color;
$cp--danger-hover-color: --ss-danger-hover-color;
$cp--danger-hover-bg: --ss-danger-hover-bg;
$cp--danger-hover-bg-image: --ss-danger-hover-bg-image;

$cp--danger-active-border-color: --ss-danger-active-border-color;
$cp--danger-active-color: --ss-danger-active-color;
$cp--danger-active-bg: --ss-danger-active-bg;
$cp--danger-active-bg-image: --ss-danger-active-bg-image;

$cp--danger-disabled-border-color: --ss-danger-disabled-border-color;
$cp--danger-disabled-color: --ss-danger-disabled-color;
$cp--danger-disabled-bg: --ss-danger-disabled-bg;
$cp--danger-disabled-bg-image: --ss-danger-disabled-bg-image;
$cp--danger-disabled-opacity: --ss-danger-disabled-opacity;
