$--pagination-background-color: $petals--pagination-bg;
$--pagination-font-color: $petals--pagination-color;
$--pagination-border-radius: $petals--pagination-border-radius;
$--pagination-hover-color: $petals--pagination-hover-color;
