.el-checkbox {
  &__inner {
    border: var($cp--checkbox-border-width, $ss--checkbox-border-width) solid
      var($cp--checkbox-border-color, $ss--checkbox-border-color);
    border-radius: var($cp--checkbox-border-radius, $ss--checkbox-border-radius);

    &:after {
      border-color: var($cp--checkbox-icon-checked-color, $ss--checkbox-icon-checked-color);
    }

    &:hover {
      border-color: var($cp--checkbox-hover-border-color, $ss--checkbox-hover-border-color);
    }
  }

  &__input {
    &.is-checked,
    &.is-indeterminate {
      .el-checkbox__inner {
        background-color: var($cp--checkbox-checked-bg, $ss--checkbox-checked-bg);
        border-color: var($cp--checkbox-checked-border-color, $ss--checkbox-checked-border-color);
      }
    }

    &.is-disabled {
      &,
      &.is-checked,
      &.is-indeterminate {
        .el-checkbox__inner {
          background-color: var($cp--checkbox-disabled-bg, $ss--checkbox-disabled-bg);
          border-color: var($cp--checkbox-disabled-border-color, $ss--checkbox-disabled-border-color);

          &:after {
            border-color: var($cp--checkbox-icon-disabled-color, $ss--checkbox-icon-disabled-color);
          }
        }
      }
    }
  }
}
