.el-date-picker__header-label,
.el-picker-panel__icon-btn,
.el-picker-panel .el-time-panel__btn.confirm {
  &:hover {
    color: var($cp--primary-hover, $ss--primary-hover);
  }

  &:focus,
  &:active {
    color: var($cp--primary-active, $ss--primary-active);
  }
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
  background-color: var($cp--hover-bg, $ss--hover-bg);
}

.el-range-editor {
  &.is-active {
    border-color: var($cp--form-control-focus-border-color, $ss--form-control-focus-border-color);
  }

  &.is-disabled {
    border-color: var($cp--date-picker-disabled-border-color, $ss--date-picker-disabled-border-color);

    &,
    input {
      background-color: var($cp--date-picker-disabled-bg, $ss--date-picker-disabled-bg);
    }
  }
}

.el-picker-panel {
  border: var($cp--date-picker-panel-border-width, $ss--date-picker-panel-border-width) solid
    var($cp--date-picker-panel-border-color, $ss--date-picker-panel-border-color);
  border-radius: var($cp--date-picker-panel-border-radius, $ss--date-picker-panel-border-radius);
  box-shadow: var($cp--date-picker-panel-box-shadow, $ss--date-picker-panel-box-shadow);

  &__footer {
    border-bottom-right-radius: var($cp--date-picker-panel-border-radius, $ss--date-picker-panel-border-radius);
    border-bottom-left-radius: var($cp--date-picker-panel-border-radius, $ss--date-picker-panel-border-radius);
  }
}

.el-date-table {
  td {
    &.today {
      span {
        font-weight: var($cp--date-picker-date-current-font-weight, $ss--date-picker-date-current-font-weight);
        color: var($cp--date-picker-date-current-color, $ss--date-picker-date-current-color);

        &:after {
          content: '\0020';
          position: absolute;
          top: 100%;
          left: 50%;
          width: var($cp--date-picker-date-current-dot-size, $ss--date-picker-date-current-dot-size);
          height: var($cp--date-picker-date-current-dot-size, $ss--date-picker-date-current-dot-size);
          margin-left: calc(
            var(#{$cp--date-picker-date-current-dot-size}, #{$ss--date-picker-date-current-dot-size}) / 2 * -1
          );
          border-radius: 100%;
          background-color: var($cp--date-picker-date-current-color, $ss--date-picker-date-current-color);
          transform: translateY(-50%);
        }
      }

      &.start-date span,
      &.end-date span {
        color: var($cp--date-picker-date-active-color, $ss--date-picker-date-active-color);
      }
    }

    &.in-range div {
      background-color: var($cp--date-picker-range-bg, $ss--date-picker-range-bg);

      &:hover {
        background-color: var($cp--date-picker-range-hover-bg, $ss--date-picker-range-hover-bg);
      }
    }

    &.current:not(.disabled) span,
    &.start-date div,
    &.end-date div {
      color: var($cp--date-picker-date-active-color, $ss--date-picker-date-active-color);
    }

    &.current:not(.disabled) span,
    &.start-date span,
    &.end-date span {
      background-color: var($cp--date-picker-date-active-bg, $ss--date-picker-date-active-bg);
    }

    &.available:hover {
      color: var($cp--date-picker-date-hover-color, $ss--date-picker-date-hover-color);
    }
  }
}
