.el-link {
  &.el-link--primary {
    color: var($cp--primary, $ss--primary);

    &:hover {
      color: var($cp--primary-hover, $ss--primary-hover);
    }

    &:focus,
    &:active {
      color: var($cp--primary-active, $ss--primary-active);
    }
  }
}
