.el-message {
  border: var($cp--message-border-width, $ss--message-border-width) solid
    var($cp--message-border-color, $ss--message-border-color);
  border-radius: var($cp--message-border-radius, $ss--message-border-radius);
  background-color: var($cp--message-bg, $ss--message-bg);
  box-shadow: var($cp--message-box-shadow, $ss--message-box-shadow);

  &--info {
    border-color: var($cp--message-info-border-color, $ss--message-info-border-color);
    background-color: var($cp--message-info-bg, $ss--message-info-bg);
  }

  &--info &__content {
    color: var($cp--message-info-color, $ss--message-info-color);
  }

  &--success {
    border-color: var($cp--message-success-border-color, $ss--message-success-border-color);
    background-color: var($cp--message-success-bg, $ss--message-success-bg);
  }

  &--success &__content {
    color: var($cp--message-success-color, $ss--message-success-color);
  }

  &--warning {
    border-color: var($cp--message-warning-border-color, $ss--message-warning-border-color);
    background-color: var($cp--message-warning-bg, $ss--message-warning-bg);
  }

  &--warning &__content {
    color: var($cp--message-warning-color, $ss--message-warning-color);
  }

  &--error {
    border-color: var($cp--message-danger-border-color, $ss--message-danger-border-color);
    background-color: var($cp--message-danger-bg, $ss--message-danger-bg);
  }

  &--error &__content {
    color: var($cp--message-danger-color, $ss--message-danger-color);
  }

  .el-icon-info {
    color: var($cp--message-icon-info-color, $ss--message-icon-info-color);
  }

  .el-icon-success {
    color: var($cp--message-icon-success-color, $ss--message-icon-success-color);
  }

  .el-icon-warning {
    color: var($cp--message-icon-warning-color, $ss--message-icon-warning-color);
  }

  .el-icon-error {
    color: var($cp--message-icon-danger-color, $ss--message-icon-danger-color);
  }
}
