.el-pagination {
  &__sizes {
    margin-right: 0;

    .el-select .el-input {
      margin: 0 4px;
    }

    .el-input__inner {
      background-image: var($cp--pagination-changer-input-bg-image, $ss--pagination-changer-input-bg-image);
    }
  }

  &__jump {
    margin-left: 4px;
  }

  &__editor,
  &__editor .el-input__inner,
  .el-select .el-input .el-input__inner {
    border-radius: var($cp--pagination-border-radius, $ss--pagination-border-radius);
  }

  &__editor {
    margin: {
      right: 8px;
      left: 8px;
    }
    padding: {
      right: 0;
      left: 0;
    }

    &.el-input {
      width: var($cp--pagination-jumper-input-width, $ss--pagination-jumper-input-width);
    }
  }

  &.is-background {
    font-weight: inherit;

    span:not([class*='suffix']),
    button,
    .btn-prev,
    .btn-next,
    .el-pager li,
    .el-pager .more:before,
    .el-pagination__sizes .el-input .el-input__inner,
    .el-pagination__editor.el-input .el-input__inner {
      min-width: var($cp--pagination-page-number-size, $ss--pagination-page-number-size);
      height: var($cp--pagination-page-number-size, $ss--pagination-page-number-size);
      line-height: var($cp--pagination-page-number-size, $ss--pagination-page-number-size);
    }

    .btn-prev,
    .btn-next,
    .el-pager li {
      margin: 0 4px;
      background: {
        color: var($cp--pagination-bg, $ss--pagination-bg);
        image: var($cp--pagination-bg-image, $ss--pagination-bg-image);
      }
      border: var($cp--pagination-border-width, $ss--pagination-border-width) solid
        var($cp--pagination-border-color, $ss--pagination-border-color);
      border-radius: var($cp--pagination-border-radius, $ss--pagination-border-radius);
    }

    .btn-prev,
    .btn-next {
      background-size: auto;
    }

    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump,
    .el-pager li {
      color: #666;
    }

    .el-pager li {
      &:not(.disabled) {
        &.active {
          background: {
            color: var($cp--pagination-active-bg, $ss--pagination-active-bg);
            image: var($cp--pagination-active-bg-image, $ss--pagination-active-bg-image);
          }
          border-color: var($cp--pagination-active-border-color, $ss--pagination-active-border-color);
        }
      }
    }
  }
}
