.el-popover {
  border: var($cp--popover-border-width, $ss--popover-border-width) solid
    var($cp--popover-border-color, $ss--popover-border-color);
  border-radius: var($cp--popover-border-radius, $ss--popover-border-radius);
  box-shadow: var($cp--popover-box-shadow, $ss--popover-box-shadow);
}
