.el-radio {
  &__inner {
    border: var($cp--radio-border-width, $ss--radio-border-width) solid
      var($cp--radio-border-color, $ss--radio-border-color);
    border-radius: var($cp--radio-border-radius, $ss--radio-border-radius);

    &:after {
      width: var($cp--radio-icon-size, $ss--radio-icon-size);
      height: var($cp--radio-icon-size, $ss--radio-icon-size);
      background-color: var($cp--radio-icon-checked-color, $ss--radio-icon-checked-color);
    }

    &:hover {
      border-color: var($cp--radio-hover-border-color, $ss--radio-hover-border-color);
    }
  }

  &__input {
    &.is-checked {
      .el-radio__inner {
        background-color: var($cp--radio-checked-bg, $ss--radio-checked-bg);
        border-color: var($cp--radio-checked-border-color, $ss--radio-checked-border-color);
      }
    }

    &.is-disabled {
      &,
      &.is-checked {
        .el-radio__inner {
          background-color: var($cp--radio-disabled-bg, $ss--radio-disabled-bg);
          border-color: var($cp--radio-disabled-border-color, $ss--radio-disabled-border-color);

          &:after {
            background-color: var($cp--radio-icon-disabled-color, $ss--radio-icon-disabled-color);
          }
        }
      }
    }
  }
}
