.el-table {
  font-size: var($cp--table-font-size, $ss--table-font-size);

  th,
  td {
    padding: var($cp--table-cell-padding-y, $ss--table-cell-padding-y) 0;
  }

  th.is-leaf {
    border-bottom: var($cp--table-head-border-width, $ss--table-head-border-width) solid
      var($cp--table-head-border-color, $ss--table-head-border-color);
  }

  &__header-wrapper &__header,
  &__fixed-header-wrapper &__header {
    border-radius: var($cp--table-head-border-radius, $ss--table-head-border-radius);
    background-color: var($cp--table-head-bg, $ss--table-head-bg);

    thead {
      color: var($cp--table-head-color, $ss--table-head-color);
    }

    tr,
    th {
      background-color: transparent;
    }

    th {
      padding: var($cp--table-head-padding-y, $ss--table-head-padding-y) 0;
      font-weight: 400;

      &:first-of-type {
        border-radius: var($cp--table-head-border-radius, $ss--table-head-border-radius) 0 0
          var($cp--table-head-border-radius, $ss--table-head-border-radius);
      }

      &:last-of-type {
        border-radius: 0 var($cp--table-head-border-radius, $ss--table-head-border-radius)
          var($cp--table-head-border-radius, $ss--table-head-border-radius) 0;
      }
    }
  }

  &--striped &__body tr.el-table__row--striped td {
    background-color: #fbfbfb;
  }

  &--enable-row-hover &__body tr:hover > td {
    background-color: var($cp--table-hover-bg, $ss--table-hover-bg);
  }

  &-column--selection .cell {
    padding: {
      right: 16px !important;
      left: 16px !important;
    }
  }

  .v-badge {
    &__badge {
      font-size: 12px;
    }
  }
}
