@import "~../../border/style/variables";
@import "./metadata";
@import "./properties";

$petals--tabs-box-shadow: none !default;

$petals--tabs-nav-height: 40px !default;
$petals--tabs-nav-border-width: var($__petals--border-width, $petals--border-width) !default;
$petals--tabs-nav-border-color: transparent !default;
$petals--tabs-nav-border-radius: var($__petals--border-radius-lg, $petals--border-radius-lg) !default;

$petals--tabs-nav-hover-color: var($__petals--primary, $petals--primary) !default;

$petals--tabs-nav-active-color: var($__petals--primary, $petals--primary) !default;
$petals--tabs-nav-active-border-width: var($__petals--tabs-nav-border-width, $petals--tabs-nav-border-width) !default;
$petals--tabs-nav-active-border-color: var($__petals--border-color, $petals--border-color) !default;
$petals--tabs-nav-active-box-shadow: none !default;

$petals--tabs-panes-border-width: var(
  $__petals--tabs-nav-active-border-width,
  $petals--tabs-nav-active-border-width
) !default;
$petals--tabs-panes-border-color: var(
  $__petals--tabs-nav-active-border-color,
  $petals--tabs-nav-active-border-color
) !default;
$petals--tabs-panes-border-radius: var($__petals--tabs-nav-border-radius, $petals--tabs-nav-border-radius) !default;
$petals--tabs-panes-bg: $__petals--white !default;
