// Badges

$ss--badge-font-size: 12px !default;
$ss--badge-font-weight: $ss--font-weight-bold !default;
$ss--badge-color: $ss--white !default;
$ss--badge-padding-y: 6px !default;
$ss--badge-padding-x: 6px !default;
$ss--badge-border-radius: 10px !default;
