$ss--checkbox-border-width: var($cp--border-width, $ss--border-width) !default;
$ss--checkbox-border-color: var($cp--border-color, $ss--border-color) !default;
$ss--checkbox-border-radius: var($cp--border-radius-sm, $ss--border-radius-sm) !default;

$ss--checkbox-hover-border-color: var(
  $cp--form-control-hover-border-color,
  $ss--form-control-hover-border-color
) !default;

$ss--checkbox-checked-bg: var($cp--primary, $ss--primary) !default;
$ss--checkbox-checked-border-color: var($cp--primary, $ss--primary) !default;

$ss--checkbox-disabled-bg: var($cp--disabled-bg, $ss--disabled-bg) !default;
$ss--checkbox-disabled-border-color: var($cp--disabled-border-color, $ss--disabled-border-color) !default;

$ss--checkbox-icon-checked-color: $ss--white !default;
$ss--checkbox-icon-disabled-color: var($cp--disabled-color, $ss--disabled-color) !default;
