// Modals

$ss--dialog-border-radius: var($cp--border-radius-lg, $ss--border-radius-lg) !default;
$ss--dialog-box-shadow: none !default;

// Padding applied to the modal body
$ss--dialog-inner-padding: 20px !default;

// Margin between elements in footer, must be lower than or equal to 2 * $ss--dialog-inner-padding
$ss--dialog-footer-margin-between: 0.5rem !default;

$ss--dialog-dialog-margin: 0.5rem !default;
$ss--dialog-dialog-margin-y-sm-up: 1.75rem !default;

$ss--dialog-title-line-height: 24px !default;

$ss--dialog-header-color: var($cp--text-heading, $ss--text-heading) !default;

$ss--dialog-content-color: null !default;
$ss--dialog-content-bg: $ss--white !default;
$ss--dialog-content-border-color: rgba($ss--black, 0.2) !default;
$ss--dialog-content-border-width: $ss--border-width !default;
$ss--dialog-content-border-radius: $ss--border-radius-lg !default;
$ss--dialog-content-inner-border-radius: subtract(
  $ss--dialog-content-border-radius,
  $ss--dialog-content-border-width
) !default;
$ss--dialog-content-box-shadow-xs: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
$ss--dialog-content-box-shadow-sm-up: $ss--box-shadow !default;

$ss--dialog-backdrop-bg: var($cp--popup-backdrop-bg, $ss--popup-backdrop-bg) !default;
$ss--dialog-backdrop-opacity: var($cp--popup-backdrop-opacity, $ss--popup-backdrop-opacity) !default;
$ss--dialog-header-border-color: $ss--border-color !default;
$ss--dialog-footer-border-color: $ss--dialog-header-border-color !default;
$ss--dialog-header-border-width: $ss--dialog-content-border-width !default;
$ss--dialog-footer-border-width: $ss--dialog-header-border-width !default;
$ss--dialog-header-padding-y: 1rem !default;
$ss--dialog-header-padding-x: 1rem !default;
$ss--dialog-header-padding: $ss--dialog-header-padding-y $ss--dialog-header-padding-x !default; // Keep this for backwards compatibility

$ss--dialog-xl: 1140px !default;
$ss--dialog-lg: 800px !default;
$ss--dialog-md: 500px !default;
$ss--dialog-sm: 300px !default;

$ss--dialog-fade-transform: translate(0, -50px) !default;
$ss--dialog-show-transform: none !default;
$ss--dialog-transition: transform 0.3s ease-out !default;
$ss--dialog-scale-transform: scale(1.02) !default;
