$ss--input-padding-y: $ss--input-btn-padding-y !default;
$ss--input-padding-x: $ss--input-btn-padding-x !default;
$ss--input-font-family: $ss--input-btn-font-family !default;
$ss--input-font-size: var($cp--form-control-font-size, $ss--form-control-font-size) !default;
$ss--input-font-weight: $ss--font-weight-base !default;
$ss--input-line-height: $ss--input-btn-line-height !default;

$ss--input-padding-y-sm: $ss--input-btn-padding-y-sm !default;
$ss--input-padding-x-sm: $ss--input-btn-padding-x-sm !default;
$ss--input-font-size-sm: var($cp--form-control-font-size-sm, $ss--form-control-font-size-sm) !default;

$ss--input-padding-y-lg: $ss--input-btn-padding-y-lg !default;
$ss--input-padding-x-lg: $ss--input-btn-padding-x-lg !default;
$ss--input-font-size-lg: var($cp--form-control-font-size-lg, $ss--form-control-font-size-lg) !default;

$ss--input-bg: var($cp--form-control-bg, $ss--form-control-bg) !default;
$ss--input-disabled-bg: var($cp--form-control-disabled-bg, $ss--form-control-disabled-bg) !default;
$ss--input-disabled-border-color: var(
  $cp--form-control-disabled-border-color,
  $ss--form-control-disabled-border-color
) !default;

$ss--input-color: var($cp--form-control-color, $ss--form-control-color) !default;
$ss--input-border-width: var($cp--form-control-border-width, $ss--form-control-border-width) !default;
$ss--input-border-color: var($cp--form-control-border-color, $ss--form-control-border-color) !default;
$ss--input-box-shadow: var($cp--form-control-box-shadow, $ss--form-control-box-shadow) !default;

$ss--input-border-radius: var($cp--form-control-border-radius, $ss--form-control-border-radius) !default;
$ss--input-border-radius-lg: var($cp--form-control-border-radius-lg, $ss--form-control-border-radius-lg) !default;
$ss--input-border-radius-sm: var($cp--form-control-border-radius-sm, $ss--form-control-border-radius-sm) !default;

$ss--input-hover-border-color: var($cp--form-control-hover-border-color, $ss--form-control-hover-border-color) !default;

$ss--input-focus-border-color: var($cp--form-control-focus-border-color, $ss--form-control-focus-border-color) !default;
$ss--input-focus-bg: var($cp--form-control-focus-bg, $ss--form-control-focus-bg) !default;
$ss--input-focus-color: $ss--input-color !default;
$ss--input-focus-width: $ss--input-btn-focus-width !default;
$ss--input-focus-box-shadow: var($cp--form-control-focus-box-shadow, $ss--form-control-focus-box-shadow) !default;

$ss--input-placeholder-color: var($cp--form-control-placeholder-color, $ss--form-control-placeholder-color) !default;
$ss--input-plaintext-color: $ss--body-color !default;

$ss--input-height-border: calc(#{$ss--input-border-width} * 2) !default;

$ss--input-height-inner: add($ss--input-line-height * 1em, $ss--input-padding-y * 2) !default;
$ss--input-height-inner-half: add($ss--input-line-height * 0.5em, $ss--input-padding-y) !default;
$ss--input-height-inner-quarter: add($ss--input-line-height * 0.25em, $ss--input-padding-y / 2) !default;

$ss--input-height: var($cp--form-control-height, $ss--form-control-height) !default;
$ss--input-height-lg: var($cp--form-control-height-lg, $ss--form-control-height-lg) !default;
$ss--input-height-sm: var($cp--form-control-height-sm, $ss--form-control-height-sm) !default;

$ss--input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;
