$ss--layout-header-height: 60px !default;
$ss--layout-header-padding-y: 0 !default;
$ss--layout-header-padding-x: 24px !default;
$ss--layout-header-font-size: var($cp--font-size-base, $ss--font-size-base) !default;
$ss--layout-header-color: #696c71 !default;
$ss--layout-header-bg: $ss--white !default;
$ss--layout-header-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1) !default;

$ss--layout-footer-height: 150px !default;
$ss--layout-footer-padding-y: 0 !default;
$ss--layout-footer-padding-x: 0 !default;
$ss--layout-footer-font-size: inherit !default;
$ss--layout-footer-color: inherit !default;
$ss--layout-footer-bg: transparent !default;

$ss--layout-sidebar-width: 200px !default;
$ss--layout-sidebar-font-size: inherit !default;
$ss--layout-sidebar-font-weight: inherit !default;
$ss--layout-sidebar-color: inherit !default;
$ss--layout-sidebar-bg: transparent !default;
$ss--layout-sidebar-border-width: 0 !default;
$ss--layout-sidebar-border-color: var($cp--border-color, $ss--border-color) !default;
