// Pagination

$ss--pagination-page-number-size: 36px !default;

$ss--pagination-padding-y: 0.375rem !default;
$ss--pagination-padding-x: 0.75rem !default;
$ss--pagination-padding-y-sm: 0.25rem !default;
$ss--pagination-padding-x-sm: 0.5rem !default;
$ss--pagination-padding-y-lg: 0.75rem !default;
$ss--pagination-padding-x-lg: 1.5rem !default;

$ss--pagination-color: $ss--text-primary !default;
$ss--pagination-bg: $ss--white !default;
$ss--pagination-bg-image: var($cp--default-bg-image, $ss--default-bg-image) !default;
$ss--pagination-border-width: $ss--border-width !default;
$ss--pagination-border-radius: var($cp--form-control-border-radius, $ss--form-control-border-radius) !default;
$ss--pagination-margin-left: -$ss--pagination-border-width !default;
$ss--pagination-border-color: #e3e3e3 !default;

$ss--pagination-changer-input-bg-image: var($cp--default-bg-image, $ss--default-bg-image) !default;
$ss--pagination-jumper-input-width: var($cp--form-control-height, $ss--form-control-height) !default;

$ss--pagination-focus-box-shadow: $ss--input-btn-focus-box-shadow !default;
$ss--pagination-focus-outline: 0 !default;

$ss--pagination-hover-color: $ss--primary !default;
// $ss--pagination-hover-bg: $ss--gray-200 !default;
// $ss--pagination-hover-border-color: $ss--gray-300 !default;

$ss--pagination-active-border-color: var($cp--primary, $ss--primary) !default;
$ss--pagination-active-color: $ss--white !default;
$ss--pagination-active-bg: var($cp--primary, $ss--primary) !default;
$ss--pagination-active-bg-image: none !default;

$ss--pagination-disabled-color: var($cp--disabled-color, $ss--disabled-color) !default;
$ss--pagination-disabled-bg: $ss--white !default;
$ss--pagination-disabled-border-color: var($cp--disabled-border-color, $ss--disabled-border-color) !default;
