$ss--radio-border-width: var($cp--border-width, $ss--border-width) !default;
$ss--radio-border-color: var($cp--border-color, $ss--border-color) !default;
$ss--radio-border-radius: 100% !default;

$ss--radio-hover-border-color: var($cp--form-control-hover-border-color, $ss--form-control-hover-border-color) !default;

$ss--radio-checked-bg: var($cp--primary, $ss--primary) !default;
$ss--radio-checked-border-color: var($cp--primary, $ss--primary) !default;

$ss--radio-disabled-bg: var($cp--disabled-bg, $ss--disabled-bg) !default;
$ss--radio-disabled-border-color: var($cp--disabled-border-color, $ss--disabled-border-color) !default;

$ss--radio-icon-size: 4px !default;
$ss--radio-icon-checked-color: $ss--white !default;
$ss--radio-icon-disabled-color: var($cp--disabled-color, $ss--disabled-color) !default;
