$ss--scrollbar-width: 5px !default;
$ss--scrollbar-height: $ss--scrollbar-width !default;
$ss--scrollbar-border-radius: $ss--border-radius !default;
$ss--scrollbar-bg: rgba(0, 0, 0, 0.15) !default;

$ss--scrollbar-thumb-bg: rgba(0, 0, 0, 0.45) !default;
