$ss--select-padding-y: $ss--input-padding-y !default;
$ss--select-padding-x: $ss--input-padding-x !default;
$ss--select-font-family: $ss--input-font-family !default;
$ss--select-font-size: var($cp--popup-font-size, $ss--popup-font-size) !default;
$ss--select-height: $ss--input-height !default;
$ss--select-indicator-padding: 1rem !default; // Extra padding to account for the presence of the background-image based indicator
$ss--select-font-weight: $ss--input-font-weight !default;
$ss--select-line-height: $ss--input-line-height !default;
$ss--select-color: $ss--text-placeholder !default;
$ss--select-disabled-color: $ss--disabled-color !default;
$ss--select-bg: $ss--input-bg !default;
$ss--select-disabled-bg: $ss--disabled-bg !default;
$ss--select-disabled-border-color: #e4e7ed !default;
$ss--select-bg-size: 16px 12px !default; // In pixels because image dimensions
// $ss--select-indicator-color: $ss--gray-800 !default;
// $ss--select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$ss--select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>") !default;

$ss--select-background: no-repeat right $ss--select-padding-x center / $ss--select-bg-size !default; // Used so we can have multiple background elements (e.g., arrow and feedback icon)

$ss--select-feedback-icon-padding-right: add(
  1em * 0.75,
  (2 * $ss--select-padding-y * 0.75) + $ss--select-padding-x + $ss--select-indicator-padding
) !default;
$ss--select-feedback-icon-position: center right ($ss--select-padding-x + $ss--select-indicator-padding) !default;
$ss--select-feedback-icon-size: $ss--input-height-inner-half $ss--input-height-inner-half !default;

$ss--select-border-width: $ss--input-border-width !default;
$ss--select-border-color: $ss--input-border-color !default;
$ss--select-border-radius: $ss--border-radius !default;
$ss--select-box-shadow: $ss--box-shadow-inset !default;

$ss--select-focus-border-color: $ss--primary !default;
$ss--select-focus-width: $ss--input-focus-width !default;
$ss--select-focus-box-shadow: 0 0 0 $ss--select-focus-width $ss--input-btn-focus-color !default;

$ss--select-padding-y-sm: $ss--input-padding-y-sm !default;
$ss--select-padding-x-sm: $ss--input-padding-x-sm !default;
$ss--select-font-size-sm: $ss--input-font-size-sm !default;
$ss--select-height-sm: $ss--input-height-sm !default;

$ss--select-padding-y-lg: $ss--input-padding-y-lg !default;
$ss--select-padding-x-lg: $ss--input-padding-x-lg !default;
$ss--select-font-size-lg: $ss--input-font-size-lg !default;
$ss--select-height-lg: $ss--input-height-lg !default;

$ss--select-dropdown-padding-y: var($cp--popup-padding-y, $ss--popup-padding-y) !default;
$ss--select-dropdown-border-radius: var($cp--popup-border-radius, $ss--popup-border-radius) !default;
$ss--select-dropdown-box-shadow: var($cp--popup-box-shadow, $ss--popup-box-shadow) !default;

$ss--select-option-height: var($cp--popup-item-height, $ss--popup-item-height) !default;
$ss--select-option-padding-y: var($cp--popup-item-padding-y, $ss--popup-item-padding-y) !default;
$ss--select-option-padding-x: var($cp--popup-item-padding-x, $ss--popup-item-padding-x) !default;
$ss--select-option-color: var($cp--popup-item-color, $ss--popup-item-color) !default;
$ss--select-option-hover-bg: var($cp--popup-item-hover-bg, $ss--popup-item-hover-bg) !default;
