$ss--switch-font-size: var($cp--form-control-font-size, $ss--form-control-font-size) !default;
$ss--switch-color: rgba(0, 0, 0, 0.25) !default;
$ss--switch-width: 2em !default;
$ss--switch-height: 20px !default;
$ss--switch-padding-left: $ss--switch-width + 0.5em !default;
$ss--switch-bg: var($cp--form-control-border-color, $ss--form-control-border-color) !default;
$ss--switch-border-radius: $ss--switch-width !default;
$ss--switch-transition: 0.2s ease-in-out !default;
$ss--switch-transition-property: background-position, background-color !default;

$ss--switch-focus-color: hsla(211, 100%, 75%, 1) !default;
$ss--switch-focus-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$ss--switch-focus-color}'/></svg>") !default;

$ss--switch-checked-color: var($cp--primary-active-color, $ss--primary-active-color) !default;
$ss--switch-checked-bg: var($cp--primary-active-border-color, $ss--primary-active-border-color) !default;
