// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$ss--table-cell-padding: 0.5rem !default;
$ss--table-cell-padding-sm: 0.25rem !default;

$ss--table-cell-padding-y: 5px !default;

$ss--table-cell-vertical-align: top !default;

$ss--table-font-size: var($cp--font-size-base, $ss--font-size-base) !default;
$ss--table-color: var($cp--text-regular, $ss--text-regular) !default;
$ss--table-bg: null !default;
$ss--table-accent-bg: rgba($ss--black, 0.05) !default;
$ss--table-hover-color: var($cp--table-color, $ss--table-color) !default;
$ss--table-hover-bg: var($cp--hover-bg, $ss--hover-bg) !default;
$ss--table-active-bg: var($cp--table-hover-bg, $ss--table-hover-bg) !default;

$ss--table-border-width: $ss--border-width !default;
$ss--table-border-color: $ss--border-color !default;

$ss--table-head-bg: #f6f7fb !default;
$ss--table-head-color: var($cp--text-secondary, $ss--text-secondary) !default;
$ss--table-head-border-width: var($cp--border-width, $ss--border-width) !default;
$ss--table-head-border-color: var($cp--border-color, $ss--border-color) !default;
$ss--table-head-border-radius: var($cp--border-radius, $ss--border-radius) !default;
$ss--table-head-padding-y: 12px !default;

// $ss--table-dark-color: $ss--white !default;
// $ss--table-dark-bg: $ss--gray-800 !default;
// $ss--table-dark-accent-bg: rgba($ss--white, 0.05) !default;
// $ss--table-dark-hover-color: $ss--table-dark-color !default;
// $ss--table-dark-hover-bg: rgba($ss--white, 0.075) !default;
// $ss--table-dark-border-color: lighten($ss--table-dark-bg, 7.5%) !default;

$ss--table-striped-order: odd !default;

// $ss--table-caption-color: $ss--text-muted !default;

$ss--table-bg-level: -9 !default;
$ss--table-border-level: -6 !default;
