// Tooltips

$ss--tooltip-font-size: $ss--font-size-sm !default;
$ss--tooltip-max-width: 200px !default;
$ss--tooltip-color: $ss--white !default;
$ss--tooltip-bg: $ss--text-primary !default;
$ss--tooltip-border-radius: $ss--border-radius !default;
$ss--tooltip-opacity: 0.9 !default;
$ss--tooltip-padding-y: 10px !default;
$ss--tooltip-padding-x: 10px !default;
$ss--tooltip-margin: 0 !default;

$ss--tooltip-arrow-width: 0.8rem !default;
$ss--tooltip-arrow-height: 6px !default;
$ss--tooltip-arrow-color: $ss--tooltip-bg !default;

// // Form tooltips must come after regular tooltips
// $form-feedback-tooltip-padding-y: $ss--tooltip-padding-y !default;
// $form-feedback-tooltip-padding-x: $ss--tooltip-padding-x !default;
// $form-feedback-tooltip-font-size: $ss--tooltip-font-size !default;
// $form-feedback-tooltip-line-height: null !default;
// $form-feedback-tooltip-opacity: $ss--tooltip-opacity !default;
// $form-feedback-tooltip-border-radius: $ss--tooltip-border-radius !default;
