$--input-font-size: $petals--input-font-size;
$--input-font-color: $petals--input-color;
$--input-height: $petals--input-height-lg;
$--input-border: $petals--input-border-width solid $petals--input-border-color;
$--input-border-color: $petals--input-border-color;
$--input-border-radius: $petals--input-border-radius;
$--input-background-color: $petals--input-bg;
$--input-placeholder-color: $petals--input-placeholder-color;
$--input-focus-border: $petals--input-focus-border-color;
$--input-disabled-fill: $petals--input-disabled-bg;
$--input-disabled-border: $petals--input-disabled-border-color;

$--input-medium-font-size: $petals--input-font-size;
$--input-medium-height: $petals--input-height;
$--input-small-font-size: $petals--input-font-size-sm;
$--input-small-height: $petals--input-height-sm;
$--input-mini-font-size: $--input-medium-font-size;
$--input-mini-height: $--input-medium-height;
