.el-table {
  font-size: var($__petals--table-font-size, $petals--table-font-size);

  th,
  td {
    padding: var($__petals--table-cell-padding-y, $petals--table-cell-padding-y) 0;
  }

  th.is-leaf {
    border-bottom: var($__petals--table-head-border-width, $petals--table-head-border-width) solid
      var($__petals--table-head-border-color, $petals--table-head-border-color);
  }

  &__header-wrapper &__header,
  &__fixed-header-wrapper &__header {
    border-radius: var($__petals--table-head-border-radius, $petals--table-head-border-radius);
    background-color: var($__petals--table-head-bg, $petals--table-head-bg);

    thead {
      color: var($__petals--table-head-color, $petals--table-head-color);
    }

    tr,
    th {
      background-color: transparent;
    }

    th {
      padding: var($__petals--table-head-padding-y, $petals--table-head-padding-y) 0;
      font-weight: 400;

      &:first-of-type {
        border-radius: var($__petals--table-head-border-radius, $petals--table-head-border-radius) 0 0
          var($__petals--table-head-border-radius, $petals--table-head-border-radius);
      }

      &:last-of-type {
        border-radius: 0 var($__petals--table-head-border-radius, $petals--table-head-border-radius)
          var($__petals--table-head-border-radius, $petals--table-head-border-radius) 0;
      }
    }
  }

  &--striped &__body tr.el-table__row--striped td {
    background-color: #fbfbfb;
  }

  &--enable-row-hover &__body tr:hover > td,
  &__body tr.hover-row > td,
  &__body tr.hover-row.current-row > td,
  &__body tr.hover-row.el-table__row--striped > td,
  &__body tr.hover-row.el-table__row--striped.current-row > td {
    background-color: var($__petals--table-hover-bg, $petals--table-hover-bg);
  }

  &-column--selection .cell {
    padding: {
      right: 16px !important;
      left: 16px !important;
    }
  }
}
