$--table-border-color: $petals--border-color;
$--table-border: $petals--table-border-width solid $--table-border-color;
$--table-font-color: $petals--table-color;
$--table-header-font-color: $petals--table-head-color;
$--table-row-hover-background-color: $petals--table-hover-bg;
$--table-header-background-color: $petals--table-head-bg;
