@import "~petals-ui/dist/box/style/variables";
@import "~petals-ui/dist/button/style/variables";
@import "~petals-ui/dist/icon/style/variables";
@import "~petals-ui/dist/flex/style/variables";
@import "~petals-ui/dist/toolbar/style/variables";
@import "~petals-ui/dist/spacer/style/variables";
@import "~petals-ui/dist/form/style/variables";
@import "~petals-ui/dist/grid/style/variables";
@import "~petals-ui/dist/layout/style/variables";
@import "~petals-ui/dist/list/style/variables";
@import "~petals-ui/dist/panel/style/variables";
@import "~petals-ui/dist/card/style/variables";
@import "~petals-ui/dist/view-stack/style/variables";
@import "~petals-ui/dist/tab-bar/style/variables";
@import "~petals-ui/dist/tabs/style/variables";
@import "~petals-ui/dist/heading/style/variables";
@import "~petals-ui/dist/text/style/variables";
@import "~petals-ui/dist/paragraph/style/variables";
@import "~petals-ui/dist/image/style/variables";
@import "~petals-ui/dist/link/style/variables";
