$cp--button-min-width: --ss-button-min-width;
$cp--button-max-width: --ss-button-max-width;
$cp--button-between-gap: --ss-button-between-gap;
$cp--button-font-size: --ss-button-font-size;
$cp--button-font-size-lg: --ss-button-font-size-lg;
$cp--button-font-size-sm: --ss-button-font-size-sm;
$cp--button-line-height: --ss-button-line-height;
$cp--button-box-shadow: --ss-button-box-shadow;

$cp--button-padding-y: --ss-button-padding-y;
$cp--button-padding-x: --ss-button-padding-x;
$cp--button-padding-y-lg: --ss-button-padding-y-lg;
$cp--button-padding-x-lg: --ss-button-padding-x-lg;
$cp--button-padding-y-sm: --ss-button-padding-y-sm;
$cp--button-padding-x-sm: --ss-button-padding-x-sm;

$cp--button-border-width: --ss-button-border-width;
$cp--button-border-radius: --ss-button-border-radius;
$cp--button-border-radius-lg: --ss-button-border-radius-lg;
$cp--button-border-radius-sm: --ss-button-border-radius-sm;

$cp--button-border-color: --ss-button-border-color;
$cp--button-color: --ss-button-color;
$cp--button-bg: --ss-button-bg;
$cp--button-bg-image: --ss-button-bg-image;

$cp--button-hover-border-color: --ss-button-hover-border-color;
$cp--button-hover-color: --ss-button-hover-color;
$cp--button-hover-bg: --ss-button-hover-bg;
$cp--button-hover-bg-image: --ss-button-hover-bg-image;

$cp--button-focus-border-color: --ss-button-focus-border-color;
$cp--button-focus-color: --ss-button-focus-color;
$cp--button-focus-bg: --ss-button-focus-bg;
$cp--button-focus-bg-image: --ss-button-focus-bg-image;

$cp--button-disabled-border-color: --ss-button-disabled-border-color;
$cp--button-disabled-color: --ss-button-disabled-color;
$cp--button-disabled-bg: --ss-button-disabled-bg;
$cp--button-disabled-bg-image: --ss-button-disabled-bg-image;
$cp--button-disabled-opacity: --ss-button-disabled-opacity;

$cp--button-primary-border-color: --ss-button-primary-border-color;
$cp--button-primary-color: --ss-button-primary-color;
$cp--button-primary-bg: --ss-button-primary-bg;
$cp--button-primary-bg-image: --ss-button-primary-bg-image;
$cp--button-primary-box-shadow: --ss-button-primary-box-shadow;
$cp--button-primary-light: --ss-button-primary-light;
$cp--button-primary-dark: --ss-button-primary-dark;
$cp--button-primary-hover-border-color: --ss-button-primary-hover-border-color;
$cp--button-primary-hover-color: --ss-button-primary-hover-color;
$cp--button-primary-hover-bg: --ss-button-primary-hover-bg;
$cp--button-primary-hover-bg-image: --ss-button-primary-hover-bg-image;
$cp--button-primary-focus-border-color: --ss-button-primary-focus-border-color;
$cp--button-primary-focus-color: --ss-button-primary-focus-color;
$cp--button-primary-focus-bg: --ss-button-primary-focus-bg;
$cp--button-primary-focus-bg-image: --ss-button-primary-focus-bg-image;
$cp--button-primary-disabled-border-color: --ss-button-primary-disabled-border-color;
$cp--button-primary-disabled-color: --ss-button-primary-disabled-color;
$cp--button-primary-disabled-bg: --ss-button-primary-disabled-bg;
$cp--button-primary-disabled-bg-image: --ss-button-primary-disabled-bg-image;
$cp--button-primary-disabled-opacity: --ss-button-primary-disabled-opacity;

$cp--button-info-border-color: --ss-button-info-border-color;
$cp--button-info-color: --ss-button-info-color;
$cp--button-info-bg: --ss-button-info-bg;
$cp--button-info-bg-image: --ss-button-info-bg-image;
$cp--button-info-box-shadow: --ss-button-info-box-shadow;
$cp--button-info-hover-border-color: --ss-button-info-hover-border-color;
$cp--button-info-hover-color: --ss-button-info-hover-color;
$cp--button-info-hover-bg: --ss-button-info-hover-bg;
$cp--button-info-hover-bg-image: --ss-button-info-hover-bg-image;
$cp--button-info-focus-border-color: --ss-button-info-focus-border-color;
$cp--button-info-focus-color: --ss-button-info-focus-color;
$cp--button-info-focus-bg: --ss-button-info-focus-bg;
$cp--button-info-focus-bg-image: --ss-button-info-focus-bg-image;
$cp--button-info-disabled-border-color: --ss-button-info-disabled-border-color;
$cp--button-info-disabled-color: --ss-button-info-disabled-color;
$cp--button-info-disabled-bg: --ss-button-info-disabled-bg;
$cp--button-info-disabled-bg-image: --ss-button-info-disabled-bg-image;
$cp--button-info-disabled-opacity: --ss-button-info-disabled-opacity;

$cp--button-success-border-color: --ss-button-success-border-color;
$cp--button-success-color: --ss-button-success-color;
$cp--button-success-bg: --ss-button-success-bg;
$cp--button-success-bg-image: --ss-button-success-bg-image;
$cp--button-success-box-shadow: --ss-button-success-box-shadow;
$cp--button-success-hover-border-color: --ss-button-success-hover-border-color;
$cp--button-success-hover-color: --ss-button-success-hover-color;
$cp--button-success-hover-bg: --ss-button-success-hover-bg;
$cp--button-success-hover-bg-image: --ss-button-success-hover-bg-image;
$cp--button-success-focus-border-color: --ss-button-success-focus-border-color;
$cp--button-success-focus-color: --ss-button-success-focus-color;
$cp--button-success-focus-bg: --ss-button-success-focus-bg;
$cp--button-success-focus-bg-image: --ss-button-success-focus-bg-image;
$cp--button-success-disabled-border-color: --ss-button-success-disabled-border-color;
$cp--button-success-disabled-color: --ss-button-success-disabled-color;
$cp--button-success-disabled-bg: --ss-button-success-disabled-bg;
$cp--button-success-disabled-bg-image: --ss-button-success-disabled-bg-image;
$cp--button-success-disabled-opacity: --ss-button-success-disabled-opacity;

$cp--button-warning-border-color: --ss-button-warning-border-color;
$cp--button-warning-color: --ss-button-warning-color;
$cp--button-warning-bg: --ss-button-warning-bg;
$cp--button-warning-bg-image: --ss-button-warning-bg-image;
$cp--button-warning-box-shadow: --ss-button-warning-box-shadow;
$cp--button-warning-light: --ss-button-warning-light;
$cp--button-warning-dark: --ss-button-warning-dark;
$cp--button-warning-hover-border-color: --ss-button-warning-hover-border-color;
$cp--button-warning-hover-color: --ss-button-warning-hover-color;
$cp--button-warning-hover-bg: --ss-button-warning-hover-bg;
$cp--button-warning-hover-bg-image: --ss-button-warning-hover-bg-image;
$cp--button-warning-focus-border-color: --ss-button-warning-focus-border-color;
$cp--button-warning-focus-color: --ss-button-warning-focus-color;
$cp--button-warning-focus-bg: --ss-button-warning-focus-bg;
$cp--button-warning-focus-bg-image: --ss-button-warning-focus-bg-image;
$cp--button-warning-disabled-border-color: --ss-button-warning-disabled-border-color;
$cp--button-warning-disabled-color: --ss-button-warning-disabled-color;
$cp--button-warning-disabled-bg: --ss-button-warning-disabled-bg;
$cp--button-warning-disabled-bg-image: --ss-button-warning-disabled-bg-image;
$cp--button-warning-disabled-opacity: --ss-button-warning-disabled-opacity;

$cp--button-danger-border-color: --ss-button-danger-border-color;
$cp--button-danger-color: --ss-button-danger-color;
$cp--button-danger-bg: --ss-button-danger-bg;
$cp--button-danger-bg-image: --ss-button-danger-bg-image;
$cp--button-danger-box-shadow: --ss-button-danger-box-shadow;
$cp--button-danger-light: --ss-button-danger-light;
$cp--button-danger-dark: --ss-button-danger-dark;
$cp--button-danger-hover-border-color: --ss-button-danger-hover-border-color;
$cp--button-danger-hover-color: --ss-button-danger-hover-color;
$cp--button-danger-hover-bg: --ss-button-danger-hover-bg;
$cp--button-danger-hover-bg-image: --ss-button-danger-hover-bg-image;
$cp--button-danger-focus-border-color: --ss-button-danger-focus-border-color;
$cp--button-danger-focus-color: --ss-button-danger-focus-color;
$cp--button-danger-focus-bg: --ss-button-danger-focus-bg;
$cp--button-danger-focus-bg-image: --ss-button-danger-focus-bg-image;
$cp--button-danger-disabled-border-color: --ss-button-danger-disabled-border-color;
$cp--button-danger-disabled-color: --ss-button-danger-disabled-color;
$cp--button-danger-disabled-bg: --ss-button-danger-disabled-bg;
$cp--button-danger-disabled-bg-image: --ss-button-danger-disabled-bg-image;
$cp--button-danger-disabled-opacity: --ss-button-danger-disabled-opacity;
