$cp--checkbox-border-width: --ss-checkbox-border-width;
$cp--checkbox-border-color: --ss-checkbox-border-color;
$cp--checkbox-border-radius: --ss-checkbox-border-radius;

$cp--checkbox-hover-border-color: --ss-checkbox-hover-border-color;

$cp--checkbox-checked-bg: --ss-checkbox-checked-bg;
$cp--checkbox-checked-border-color: --ss-checkbox-checked-border-color;

$cp--checkbox-disabled-bg: --ss-checkbox-disabled-bg;
$cp--checkbox-disabled-border-color: --ss-checkbox-disabled-border-color;

$cp--checkbox-icon-checked-color: --ss-checkbox-icon-checked-color;
$cp--checkbox-icon-disabled-color: --ss-checkbox-icon-disabled-color;
