$cp--dialog-border-radius: --ss-dialog-border-radius;
$cp--dialog-box-shadow: --ss-dialog-box-shadow;

$cp--dialog-header-color: --ss-dialog-header-color;

$cp--dialog-backdrop-bg: --ss-dialog-backdrop-bg;
$cp--dialog-backdrop-opacity: --ss-dialog-backdrop-opacity;
