$cp--dropdown-padding-y: --ss-dropdown-padding-y;
$cp--dropdown-font-size: --ss-dropdown-font-size;
$cp--dropdown-border-radius: --ss-dropdown-border-radius;
$cp--dropdown-box-shadow: --ss-dropdown-box-shadow;

$cp--dropdown-item-height: --ss-dropdown-item-height;
$cp--dropdown-item-color: --ss-dropdown-item-color;
$cp--dropdown-item-hover-color: --ss-dropdown-item-hover-color;
$cp--dropdown-item-hover-bg: --ss-dropdown-item-hover-bg;
