$cp--input-font-size: --ss-input-font-size;
$cp--input-font-size-lg: --ss-input-font-size-lg;
$cp--input-font-size-sm: --ss-input-font-size-sm;

$cp--input-border-width: --ss-input-border-width;
$cp--input-border-color: --ss-input-border-color;
$cp--input-box-shadow: --ss-input-box-shadow;

$cp--input-border-radius: --ss-input-border-radius;
$cp--input-border-radius-lg: --ss-input-border-radius-lg;
$cp--input-border-radius-sm: --ss-input-border-radius-sm;

$cp--input-hover-border-color: --ss-input-hover-border-color;

$cp--input-focus-border-color: --ss-input-focus-border-color;
$cp--input-focus-box-shadow: --ss-input-focus-box-shadow;

$cp--input-disabled-bg: --ss-input-disabled-bg;
$cp--input-disabled-border-color: --ss-input-disabled-border-color;
