$cp--layout-header-height: --ss-page-header-height;
$cp--layout-header-padding-y: --ss-page-header-padding-y;
$cp--layout-header-padding-x: --ss-page-header-padding-x;
$cp--layout-header-font-size: --ss-page-header-font-size;
$cp--layout-header-color: --ss-page-header-color;
$cp--layout-header-bg: --ss-page-header-bg;
$cp--layout-header-box-shadow: --ss-page-header-box-shadow;

$cp--layout-footer-height: --ss-page-footer-height;
$cp--layout-footer-padding-y: --ss-page-footer-padding-y;
$cp--layout-footer-padding-x: --ss-page-footer-padding-x;
$cp--layout-footer-font-size: --ss-page-footer-font-size;
$cp--layout-footer-color: --ss-page-footer-color;
$cp--layout-footer-bg: --ss-page-footer-bg;
$cp--layout-footer-box-shadow: --ss-page-footer-box-shadow;

$cp--layout-content-bg: --ss-page-content-bg;

$cp--layout-sidebar-width: --ss-page-sidebar-width;
$cp--layout-sidebar-font-size: --ss-page-sidebar-font-size;
$cp--layout-sidebar-font-weight: --ss-page-sidebar-font-weight;
$cp--layout-sidebar-color: --ss-page-sidebar-color;
$cp--layout-sidebar-bg: --ss-page-sidebar-bg;
$cp--layout-sidebar-border-width: --ss-page-sidebar-border-width;
$cp--layout-sidebar-border-color: --ss-page-sidebar-border-color;
