$cp--message-color: --ss-message-color;
$cp--message-bg: --ss-message-bg;
$cp--message-border-width: --ss-message-border-width;
$cp--message-border-color: --ss-message-border-color;
$cp--message-border-radius: --ss-message-border-radius;
$cp--message-box-shadow: --ss-message-box-shadow;

$cp--message-info-bg: --ss-message-info-bg;
$cp--message-info-border-color: --ss-message-info-border-color;
$cp--message-info-color: --ss-message-info-color;

$cp--message-success-bg: --ss-message-success-bg;
$cp--message-success-border-color: --ss-message-success-border-color;
$cp--message-success-color: --ss-message-success-color;

$cp--message-warning-bg: --ss-message-warning-bg;
$cp--message-warning-border-color: --ss-message-warning-border-color;
$cp--message-warning-color: --ss-message-warning-color;

$cp--message-danger-bg: --ss-message-danger-bg;
$cp--message-danger-border-color: --ss-message-danger-border-color;
$cp--message-danger-color: --ss-message-danger-color;

$cp--message-icon-info-color: --ss-message-icon-info-color;
$cp--message-icon-success-color: --ss-message-icon-success-color;
$cp--message-icon-warning-color: --ss-message-icon-warning-color;
$cp--message-icon-danger-color: --ss-message-icon-danger-color;
