$cp--pagination-page-number-size: --ss-pagination-page-number-size;

$cp--pagination-bg: --ss-pagination-bg;
$cp--pagination-bg-image: --ss-pagination-bg-image;
$cp--pagination-border-width: --ss-pagination-border-width;
$cp--pagination-border-color: --ss-pagination-border-color;
$cp--pagination-border-radius: --ss-pagination-border-radius;

$cp--pagination-changer-input-bg-image: --ss-pagination-changer-input-bg-image;
$cp--pagination-jumper-input-width: --ss-pagination-jumper-input-width;

$cp--pagination-active-bg: --ss-pagination-active-bg;
$cp--pagination-active-bg-image: --ss-pagination-active-bg-image;
$cp--pagination-active-border-color: --ss-pagination-active-border-color;
