$cp--panel-padding-y: --ss-panel-padding-y;
$cp--panel-padding-x: --ss-panel-padding-x;
$cp--panel-bg: --ss-panel-bg;
$cp--panel-border-width: --ss-panel-border-width;
$cp--panel-border-color: --ss-panel-border-color;
$cp--panel-border-radius: --ss-panel-border-radius;
$cp--panel-box-shadow: --ss-panel-box-shadow;

$cp--panel-header-height: --ss-panel-header-height;
$cp--panel-header-border-width: --ss-panel-header-border-width;
$cp--panel-header-border-color: --ss-panel-header-border-color;
$cp--panel-header-font-size: --ss-panel-header-font-size;
$cp--panel-header-font-weight: --ss-panel-header-font-weight;
$cp--panel-header-letter-spacing: --ss-panel-header-letter-spacing;
$cp--panel-header-color: --ss-panel-header-color;

$cp--panel-body-padding-y: --ss-panel-body-padding-y;
$cp--panel-body-padding-x: --ss-panel-body-padding-x;
