$cp--radio-border-width: --ss-radio-border-width;
$cp--radio-border-color: --ss-radio-border-color;
$cp--radio-border-radius: --ss-radio-border-radius;

$cp--radio-hover-border-color: --ss-radio-hover-border-color;

$cp--radio-checked-bg: --ss-radio-checked-bg;
$cp--radio-checked-border-color: --ss-radio-checked-border-color;

$cp--radio-disabled-bg: --ss-radio-disabled-bg;
$cp--radio-disabled-border-color: --ss-radio-disabled-border-color;

$cp--radio-icon-size: --ss-radio-icon-size;
$cp--radio-icon-checked-color: --ss-radio-icon-checked-color;
$cp--radio-icon-disabled-color: --ss-radio-icon-disabled-color;
