$cp--scrollbar-width: --ss-scrollbar-width;
$cp--scrollbar-height: --ss-scrollbar-height;
$cp--scrollbar-border-radius: --ss-scrollbar-border-radius;
$cp--scrollbar-bg: --ss-scrollbar-bg;

$cp--scrollbar-thumb-bg: --ss-scrollbar-thumb-bg;
