$cp--select-font-size: --ss-select-font-size;

$cp--select-option-height: --ss-select-option-height;
$cp--select-option-padding-y: --ss-select-option-padding-y;
$cp--select-option-padding-x: --ss-select-option-padding-x;
$cp--select-option-color: --ss-select-option-color;
$cp--select-option-hover-bg: --ss-select-option-hover-bg;

$cp--select-dropdown-padding-y: --ss-select-dropdown-padding-y;
$cp--select-dropdown-border-radius: --ss-select-dropdown-border-radius;
$cp--select-dropdown-box-shadow: --ss-select-dropdown-box-shadow;
