$cp--table-font-size: --ss-table-font-size;
$cp--table-color: --ss-table-color;

$cp--table-cell-padding-y: --ss-table-cell-padding-y;

$cp--table-head-border-width: --ss-table-head-border-width;
$cp--table-head-border-color: --ss-table-head-border-color;
$cp--table-head-border-radius: --ss-table-head-border-radius;
$cp--table-head-color: --ss-table-head-color;
$cp--table-head-bg: --ss-table-head-bg;
$cp--table-head-padding-y: --ss-table-head-padding-y;

$cp--table-hover-bg: --ss-table-hover-bg;
