$cp--tabs-box-shadow: --ss-tabs-box-shadow;

$cp--tabs-nav-height: --ss-tabs-nav-height;
$cp--tabs-nav-border-width: --ss-tabs-nav-border-width;
$cp--tabs-nav-border-color: --ss-tabs-nav-border-color;
$cp--tabs-nav-border-radius: --ss-tabs-nav-border-radius;

$cp--tabs-nav-hover-color: --ss-tabs-nav-hover-color;

$cp--tabs-nav-active-color: --ss-tabs-nav-active-color;
$cp--tabs-nav-active-border-width: --ss-tabs-nav-active-border-width;
$cp--tabs-nav-active-border-color: --ss-tabs-nav-active-border-color;
$cp--tabs-nav-active-box-shadow: --ss-tabs-nav-active-box-shadow;

$cp--tabs-content-border-width: --ss-tabs-content-border-width;
$cp--tabs-content-border-color: --ss-tabs-content-border-color;
$cp--tabs-content-border-radius: --ss-tabs-content-border-radius;
$cp--tabs-content-bg: --ss-tabs-content-bg;
