$cp--textarea-border-width: --ss-textarea-border-width;
$cp--textarea-border-color: --ss-textarea-border-color;
$cp--textarea-box-shadow: --ss-textarea-box-shadow;

$cp--textarea-border-radius: --ss-textarea-border-radius;
$cp--textarea-border-radius-lg: --ss-textarea-border-radius-lg;
$cp--textarea-border-radius-sm: --ss-textarea-border-radius-sm;

$cp--textarea-hover-border-color: --ss-textarea-hover-border-color;

$cp--textarea-focus-border-color: --ss-textarea-focus-border-color;
$cp--textarea-focus-box-shadow: --ss-textarea-focus-box-shadow;

$cp--textarea-disabled-bg: --ss-textarea-disabled-bg;
$cp--textarea-disabled-border-color: --ss-textarea-disabled-border-color;
