$--dialog-background-color: $petals--dialog-content-bg;
$--dialog-box-shadow: $petals--dialog-content-box-shadow-xs;
$--dialog-font-line-height: $petals--dialog-title-line-height;
$--dialog-padding-primary: $petals--dialog-inner-padding;
