$--color-primary: $petals--primary;
$--color-white: $petals--white;
$--color-black: $petals--black;
$--color-success: $petals--success;
$--color-warning: $petals--warning;
$--color-danger: $petals--danger;
$--color-info: $petals--info;
$--color-text-primary: $petals--text-primary;
$--color-text-regular: $petals--text-regular;
$--color-text-secondary: $petals--text-secondary;
$--color-text-placeholder: $petals--text-placeholder;

$--border-color-base: $petals--border-color;
$--border-width-base: $petals--border-width;
$--border-radius-base: $petals--border-radius;
$--border-radius-small: $petals--border-radius-sm;

$--background-color-base: #edf5ff;

$--link-color: $petals--link-color;
$--link-hover-color: $petals--link-hover-color;

$--box-shadow-base: $petals--box-shadow;

$--font-path: '~element-ui/lib/theme-chalk/fonts';
$--font-size-base: $petals--font-size;
$--font-size-large: $petals--font-size-lg;
$--font-size-small: $petals--font-size-sm;
